<!doctype html>
<html lang="{% if request.locale.iso_code == 'it' %}it{% else %}en{% endif %}">

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <!--favicon-->
  <link rel="icon" type="image/x-icon" href="{{ 'red-circle.png' |  asset_url }}">
  <!--favicon-->
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!--flowbite data picker-->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <!--swiper cdn & scripts-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!--gsap scripts-->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
  <!--plyr video cdn -->
  <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
  <!--css plyr links-->
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
  <!-- Header hook for plugins -->
  {{ 'main.css' | asset_url | stylesheet_tag }}
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5HCT9DF4');</script>
  <!-- End Google Tag Manager -->

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const pathUrl = window.location.pathname.split("/").filter(Boolean);
      const valueToCheck = ["blogs","news"];
      const windowSize = window.innerWidth;
  
      if (pathUrl.length >= 3 && pathUrl[pathUrl.length - 1] !== "" && valueToCheck.some(i => pathUrl.includes(i))) {
        let scrollY = 200;
  
        if (windowSize >= 1024) {
          scrollY = 400;
        } else if (windowSize >= 768) {
          scrollY = 300;
        } else if (windowSize >= 435) {
          scrollY = 250;
        }

        handleScrollTop(0, scrollY);
      }
    });
  
    function handleScrollTop(valueX, valueY) {
      window.scrollTo(valueX, valueY);
    }
  </script>
  
  <!--handle scrolling page if the existing page is blog article page-->

</head>


<!--confirmation email marketing style here-->
<style>
  .shopify-email-marketing-confirmation__container {
    padding-top: 164px;
    padding-bottom: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
    width: 100% !important;
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1024px) {
    .shopify-email-marketing-confirmation__container {
      padding-top: 194px;
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  }


  .shopify-email-marketing-confirmation__container>* {
    font-family: "TT-Norms-Pro-Regular";
  }

  .shopify-email-marketing-confirmation__container h1 {
    font-family: "TT-Norms-Pro-Medium";
  }

  .shopify-email-marketing-confirmation__container a {
    text-decoration: underline;
  }
</style>
<!--confirmation email marketing style here-->


<body>

  {% section 'navbar' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</body>

</html>