<!-- approved focus -->
<div class="w-full h-auto">
  <div class="w-full h-auto flex flex-col items-start justify-center p-4 py-12 lg:p-[160px]">
    <div class="w-full h-auto flex flex-col items-center justify-center gap-y-8 lg:gap-y-[60px]">

      {% if section.settings.main_section_title != blank %}
        <div class="w-full h-auto flex items-center justify-center">
          <h2 class="text-[24px] leading-[30px] lg:text-[40px] lg:leading-[40px] font-semibold text-center">{{ section.settings.main_section_title }}</h2>
        </div>
      {% endif %}

      <div class="w-full h-auto flex flex-col items-center justify-center gap-y-4 lg:flex-row lg:items-start lg:justify-start lg:gap-x-10">
        {% for block in section.blocks %}
          {% if block.type == "focus_card_block" %}
            <div class="w-full h-auto flex flex-col items-start justify-center rounded-[32px] lg:w-[346px]" style="box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.25);">

              {% if block.settings.card_image %}
                <div class="w-full h-[220px]">
                  <img
                    class="w-full h-full object-cover object-center rounded-t-[32px]"
                    src="{{ block.settings.card_image |  img_url: 'master'  }}"
                    alt="{{ block.settings.card_image }}">
                </div>
              {% endif %}

              {% if block.settings.card_title != blank and block.settings.card_content != blank %}
                <div class="w-full h-auto flex flex-col items-start justify-between px-8 pb-8 py-6 lg:px-10 lg:pb-10 lg:py-8 gap-y-6 bg-[#F7F7F7] lg:min-h-[438px]">

                  <div class="w-full h-auto flex flex-col items-start justify-center gap-y-[46px]">
                    <div class="w-full h-auto flex flex-row items-center justify-start gap-x-5">
                      <h3 class="text-[24px] leading-[28px] font-semibold">{{ block.settings.card_title }}</h3>
                      {% render 'arrow-right-icon' %}
                    </div>

                    <div class="w-full h-auto flex flex-col items-start justify-center">
                      <p class="text-[16px] leading-[22px]">{{ block.settings.card_content }}</p>
                    </div>
                  </div>

                  {% if block.settings.card_cta_text != blank %}
                    <a href="{{ section.settings.redirect_page }}" class="redirect-cta" id="benefit-{{ forloop.index }}">
                      <div class="w-full h-auto flex items-start justify-start">
                        <p class="text-[16px] leading-[20px] underline">{{ block.settings.card_cta_text }}</p>
                      </div>
                    </a>
                  {% endif %}

                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', () => {
     const redirectCta = document.querySelectorAll('.redirect-cta');
     if(redirectCta.length > 0) {
      redirectCta.forEach((cta) => {
        cta.addEventListener('click', () => {
          sessionStorage.setItem('id', cta.getAttribute('id'));
        })
      })
     }
  })
  
</script>

{% schema %}
  {
    "name": "approved_focus",
    "settings": [
      {
        "type": "text",
        "id": "main_section_title",
        "label": "Main section title"
      },
      {
        "type": "url",
        "id": "redirect_page",
        "label": "Redirect Why Pardo Approved"
      }
    ],
    "blocks": [
      {
        "name": "focus_card_block",
        "type": "focus_card_block",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
          }, {
            "type": "text",
            "id": "card_title",
            "label": "Card Title"
          }, {
            "type": "textarea",
            "id": "card_content",
            "label": "Card Content"
          }, {
            "type": "text",
            "id": "card_cta_text",
            "label": "Card Cta Text"
          }
        ]
      }
    ]
  }
{% endschema %}