<!-- article section content -->
<div class="article-top-view w-full h-auto flex flex-col gap-y-4">
  <div class="article-top-view-image w-full h-auto relative">
    <img
      class="top-view-image-article w-full h-auto min-h-[565px] object-cover object-center aspect-auto"
      src="{{ article.image |  img_url: 'master'}}"
      alt="{{ article.image.alt }}">
    <div class="cta-back absolute left-1/2 bottom-6 transform -translate-x-1/2 inline-flex items-center justify-center cursor-pointer">
      {% render 'back-arrow-icon' %}
      <a href="javascript:history.back()">
        <p class="body-14-medium ml-2">{{ section.settings.article_cta }}</p>
      </a>
    </div>
  </div>
  <div class="article-top-view-content w-full h-auto flex flex-col gap-y-2 items-start justify-center p-4 mb-10">
    <p class="body-16-medium">{{ article.title }}</p>
    <p class="body-12">{{ article.content }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "article-content",
    "settings": [
      {
        "type": "text",
        "id": "article_cta",
        "default": "Back",
        "label": "Article Cta"
      }
    ]
  }
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navbar = document.querySelector('navbar');
    navbar.classList.remove('toBlack');
    //scroll from top value
    let scrollY = window.scrollY;
    //change nav color function
    function changeNav(){
      if(scrollY > 0){
        navbar.classList.add('toBlack');
      } else {
        navbar.classList.remove('toBlack');
      }
    }

    document.addEventListener('scroll', (e) => {
       console.log(e)
    })
  })
</script>