<!-- Article list home page -->
<div class="wrapper-articles-list w-full h-auto flex flex-col items-start justify-center gap-y-4 mb-10">

    <!-- Assign liquid variables -->
    {% assign allBlogs = "Partnership, " | split: "," %}
    {% for handle in allBlogs %}
    {% for article in blogs[handle].articles %}

    <!-- Article wrap -->
    <div class="card-article w-full h-auto flex flex-col items-start justify-start rounded-2xl bg-[#EFEEED]">
        <!--article image-->
        <div class="w-full h-[220px] min-h-[220px]">
            <img src="{{ article.image |  img_url: 'master'}}" alt="{{ article.title }}"
                class="w-full h-full object-cover object-center rounded-t-2xl">
        </div>

        <!--article wrap content-->
        <div class="card-article-content w-full h-auto flex flex-col gap-y-1 items-start justify-start p-6">
            <p class="text-[24px] leading-[24px]">{{ article.title }}</p>
            <p class="text-[24px] leading-[30px] text-white">{{ article.content | truncate: 100 }}</p>
        </div>

        <!--article card button-->
        <div class="w-full h-auto flex flex-row items-start justify-end">
            <!-- container button -->
            <div class="inline-flex cta-choco">
                <p class="body-14">{{ section.settings.cta_text | default: "Discover more" }}</p>
            </div>
        </div>

    </div>

    {% endfor %}
    {% endfor %}
</div>