<div class="blog-news-container w-full h-auto flex flex-col">
    <div id="news-layout" class="blogs-list-container w-full h-auto flex flex-col gap-y-10 p-4">
        {% if blogs['news'] %}
        {% assign newsArticles = blogs['news'].articles %}
        {% if newsArticles.size > 0 %}
    
        <!-- Iterazione degli articoli -->
        {% for article in newsArticles %}
            {% if article.tags contains 'News' %}
            {% assign index = forloop.index0 %} <!-- indice 0-based -->
            
            <!-- Primo articolo -->
            {% if index == 0 %}
            <div class="blog-list-row width-view lg:mb-10">
                <div class="blog-item-width-view w-full h-auto flex flex-col gap-y-4 items-start justify-center lg:relative"
                    data-tags="{{ article.tags | join: ',' }}">
                    <div class="blog-item-image w-full h-auto">
                        <img src="{{ article.image | img_url: 'master' }}"
                            class="w-full h-auto min-h-[200px] max-h-[200px] object-cover rounded-xl lg:h-[480px] lg:max-h-[480px]"
                            alt="article image">
                    </div>
                    <div
                        class="blog-item-details w-full h-auto flex flex-col items-start justify-center gap-y-4 lg:absolute lg:justify-start lg:right-[16px] lg:top-[16px] lg:w-[calc(100%-32px)] lg:h-[calc(100%-32px)] lg:max-w-[297px] lg:z-10 lg:bg-white lg:rounded-lg lg:p-4">
                        <div class="blog-item-date w-full h-auto flex flex-row justify-between">
                            <p class="body-12">{{ article.published_at | date: "%B %d, %Y" }}</p>
                        </div>
                        <div class="blog-item-info w-full h-auto flex flex-col items-start justify-center gap-y-2">
                            <h3 class="body-14-medium">{{ article.title }}</h3>
                            <p class="body-12">{{ article.content | truncate: 300 }}</p>
                        </div>
                        <div class="blog-item-cta w-full h-auto flex items-center justify-start">
                            <div class="cta-blog">
                                <a href="{{ article.url }}">
                                    <p class="body-14-medium">Leggi di più</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    
            <!-- Secondo gruppo di tre articoli (dall'indice 1 al 3) -->
            {% if index >= 1 and index <= 3 %}
            {% if index == 1 %}
            <div class="blog-list-row horizontal-view lg:mb-10">
                <div class="blog-item-horizontal-scroll w-full h-auto overflow-x-auto flex flex-row gap-x-4 p-3">
            {% endif %}
    
            <div class="blog-item horizontal-view min-w-[200px] h-auto flex flex-col gap-y-4 items-start justify-start shadow-custom rounded-xl lg:w-[400px]"
                data-tags="{{ article.tags | join: ',' }}">
                <div class="blog-item-image w-full h-auto">
                    <img src="{{ article.image | img_url: 'master' }}"
                        class="w-full h-auto min-h-[160px] max-h-[160px] object-cover rounded-tl-xl rounded-tr-xl"
                        alt="article image">
                </div>
                <div class="blog-item-info-container w-full h-auto p-3 flex flex-col gap-y-4 lg:flex-col-reverse lg:gap-y-10">
                    <div class="blog-item-date w-full h-auto flex flex-row justify-between">
                        <p class="body-12">{{ article.published_at | date: "%B %d, %Y" }}</p>
                    </div>
                    <div class="blog-item-info w-full h-auto flex flex-col items-start justify-center gap-y-2">
                        <h3 class="body-14-medium">{{ article.title }}</h3>
                        <p class="body-12">{{ article.content | truncate: 100 }}</p>
                    </div>
                </div>
            </div>
    
            {% if index == 3 %}
                </div>
            </div>
            {% endif %}
            {% endif %}
    
            <!-- Terzo gruppo di articoli rimanenti -->
            {% if index >= 4 %}
            {% if index == 4 %}
            <div class="blog-list-row horizontal-view lg:mb-10">
                <div class="blog-item-horizontal-scroll w-full h-auto overflow-x-auto flex flex-row gap-x-4 p-3">
            {% endif %}
    
            <div class="blog-item-horizontal-view min-w-[250px] h-auto flex flex-col gap-y-4 items-start justify-start rounded-lg lg:w-[812px]"
                data-tags="{{ article.tags | join: ',' }}">
                <div class="blog-item-image w-full h-auto">
                    <img src="{{ article.image | img_url: 'master' }}"
                        class="w-full h-auto min-h-[250px] max-h-[250px] object-cover rounded-lg"
                        alt="article image">
                </div>
                <div class="blog-item-date w-full h-auto flex flex-row justify-between">
                    <p class="body-12">{{ article.published_at | date: "%B %d, %Y" }}</p>
                </div>
                <div class="blog-item-info w-full h-auto flex flex-col items-start justify-center gap-y-2">
                    <h3 class="body-14-medium">{{ article.title }}</h3>
                    <p class="body-12 lg:hidden">{{ article.content | truncate: 200 }}</p>
                </div>
                <div class="blog-item-cta w-full h-auto flex items-center justify-start">
                    <div class="cta-blog">
                        <a href="{{ article.url }}">
                            <p class="body-14-medium">Leggi di più</p>
                        </a>
                    </div>
                </div>
            </div>
    
            {% if forloop.last %}
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
    

    <!-- Layout for Press Room (Hidden by default) -->
    <div id="pressroom-layout" class="blogs-list-container press-room hidden w-full h-auto flex flex-col gap-y-3">
        <!-- Press Room articles loop -->
        {% for article in blogs['news'].articles %}
        {% if article.tags contains 'Press room' %}
        <div class="blog-item-press-room w-full h-auto flex flex-col gap-y-4 p-4 lg:relative lg:overflow-hidden">
            <div class="blog-item-image w-full h-auto flex flex-col gap-y-4 relative lg:overflow-hidden">
                <img src="{{ article.image | img_url: 'master' }}"
                    class="w-full h-auto min-h-[200px] max-h-[200px] object-cover rounded-xl lg:h-[480px] lg:max-h-[480px]"
                    alt="article image">
                <!-- Posizionamento del contenitore dettagli sopra l'immagine -->
                <div
                    class="blog-item-details flex flex-col gap-y-4 lg:absolute lg:top-[16px] lg:right-[16px] lg:w-[calc(100%-32px)] lg:h-[calc(100%-32px)] lg:max-w-[297px] lg:bg-white lg:rounded-lg lg:p-4 lg:shadow-lg">
                    <div class="blog-item-date w-full h-auto flex flex-row justify-between">
                        <p class="body-12">{{ article.published_at | date: "%B %d, %Y" }}</p>
                    </div>
                    <div class="blog-item-info w-full h-auto flex flex-col items-start justify-center gap-y-2">
                        <h3 class="body-14-medium">{{ article.title }}</h3>
                        <p class="body-12">{{ article.content | truncate: 100 }}</p>
                    </div>
                    <div class="blog-item-cta w-full h-auto flex items-center justify-start">
                        <div class="cta-download flex items-center gap-x-2">
                            <a href="{{ article.url }}">
                                <p class="body-14-medium">Download</p>
                            </a>
                            {% render 'download-icon' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <!-- Layout for Awards (Hidden by default) -->
    <div id="awards-layout" class="blogs-list-container awards hidden w-full h-auto flex flex-col gap-y-3">
        <!-- Awards articles loop -->
        {% for article in blogs['news'].articles %}
        {% if article.tags contains 'Awards' %}
        <a href="{{ article.url }}">
            <div class="blog-item-awards w-full h-auto flex flex-col gap-y-4 p-4">
                <div class="blog-item-image w-full h-auto">
                    <img src="{{ article.image | img_url: 'master' }}"
                        class="w-full h-auto min-h-[200px] max-h-[200px] object-cover rounded-xl lg:h-[480px] lg:max-h-[480px]"
                        alt="article image">
                </div>
                <div class="blog-item-date w-full h-auto flex flex-row justify-between">
                    <p class="body-12">{{ article.published_at | date: "%B %d, %Y" }}</p>
                </div>
                <div class="blog-item-info w-full h-auto flex flex-col items-start justify-center gap-y-2">
                    <h3 class="body-14-medium">{{ article.title }}</h3>
                    <p class="body-12">{{ article.content | truncate: 100 }}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>

</div>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chips = document.querySelectorAll('.chips-label');
        const newsLayout = document.getElementById('news-layout');
        const pressRoomLayout = document.getElementById('pressroom-layout');
        const awardsLayout = document.getElementById('awards-layout');

        chips.forEach(chip => {
            chip.addEventListener('click', function () {
                const tag = chip.getAttribute('data-tag');

                // Nascondi tutti i layout
                newsLayout.classList.add('hidden');
                pressRoomLayout.classList.add('hidden');
                awardsLayout.classList.add('hidden');

                // Mostra il layout corretto in base al tag selezionato
                if (tag === 'News') {
                    newsLayout.classList.remove('hidden');
                } else if (tag === 'Press room') {
                    pressRoomLayout.classList.remove('hidden');
                } else if (tag === 'Awards') {
                    awardsLayout.classList.remove('hidden');
                }

                // Rimuovi la classe 'active' da tutte le chips
                chips.forEach(chip => chip.classList.remove('chips-blog-active'));

                // Aggiungi la classe 'active' alla chips cliccata
                chip.classList.add('chips-blog-active');
            });
        });

        // Imposta la chips 'News' come attiva di default e mostra il layout 'news-layout'
        const defaultChip = document.querySelector('.chips-label[data-tag="News"]');
        if (defaultChip) {
            defaultChip.classList.add('chips-blog-active');
            newsLayout.classList.remove('hidden');
        }
    });
</script>