<!-- blog events section -->
<div class="blog-events-container w-full h-auto flex flex-col items-start gap-y-2 p-4 mb-12 justify-center lg:flex-wrap lg:gap-10 lg:flex-row lg:justify-start  relative overflow-hidden">
  {% if blogs['events'] %}
    {% assign eventsArticles = blogs['events'].articles %}
    {% if eventsArticles.size > 0 %}
      {% for eventArticle in eventsArticles %}
        <div class="blog-events-container w-full h-auto flex-col gap-y-2 items-start justify-center hidden lg:w-[calc(33.3%_-_2.5rem)]">
          <div class="events-container w-full h-auto min-h-[224px] p-4 rounded-xl bg-[var(--secondary-background-color)] flex flex-col gap-y-6 outline-none transition-all duration-150 lg:hover:border lg:hover:border-black cursor-pointer">
            <div class="events-details-primary w-full h-auto flex flex-col gap-y-1">
              <p class="article-title body-16-medium">{{ eventArticle.title }}</p>
              <p class="article-content body-14">{{ eventArticle.published_at }}</p>
            </div>
            <div class="events-details-secondary w-full h-auto flex flex-col gap-y-2">
              <a href="{{ section.settings.redirect_google_url }}">
                <div class="events-details-cta-primary w-auto h-auto flex flex-row gap-x-2 items-center justify-start">
                  <p class="body-14 underline">{{ section.settings.redirect_google }}</p>
                  {% render 'cta-icon' %}
                </div>
              </a>
              <a href="{{ section.settings.redirect_calendar }}">
                <div class="events-details-cta-secondary w-auto h-auto flex flex-row gap-x-2 items-center justify-start">
                  <p class="body-14 underline">{{ section.settings.redirect_calendar }}</p>
                  {% render 'calendar-icon' %}
                </div>
              </a>
            </div>
            <div class="events-cta lg:w-full lg:flex lg:justify-end">
              <div class="cta-appointment outline-none book-appointment">
                <p class="body-14">{{ section.settings.cta_appointment }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}

  <!-- Book appointment -->
  {% if form.posted_successfully? %}
    <!-- Confirm pop-up -->
    <div class="confirm-pop-up w-full h-auto fixed bottom-0 right-0 left-0 p-4 flex flex-col items-start justify-between rounded-lg border border-black bg-white hidden transition-opacity duration-300 ease-in-out">
      {% render 'check-icon' %}
      <p class="body-12">{{ section.settings.confirm_message }}</p>
    </div>
  {% else %}
    <!-- Form container -->
    <div class="form-container w-full h-auto absolute bottom-0 left-0 right-0 p-4 rounded-lg shadow-custom bg-white z-30 transform translate-y-full transition-transform duration-300 ease-in-out hidden lg:flex lg:fixed lg:rounded-none lg:w-full lg:h-full lg:top-0 lg:left-0 lg:backdrop-blur-md lg:bg-black/50 lg:z-50 lg:items-center lg:justify-center">
      <div class="wrapper-form-appointment w-full flex flex-col gap-y-6 mx-auto lg:bg-white lg:w-[640px] lg:max-h-[600px] lg:rounded-lg lg:p-4">

        <!-- Form Header -->
        <div class="form-appointment-headers w-full h-auto flex flex-col items-center justify-center relative">
          <p class="body-14-medium events-name"></p>

          <!-- Close Icon -->
          <div class="icon-content absolute right-0 top-0 cursor-pointer">
            {% render 'x-icon' %}
          </div>
        </div>

        <!-- Form Content -->
        <div class="form-appointment-content w-full h-auto flex flex-col items-start justify-center">
          {% form 'contact'
            , class: "w-full h-full flex flex-col items-start justify-center gap-y-3 mt-4 mb-4" %}

            <!-- Form Errors -->
            {{ form.errors | default_errors }}

            <!-- First Name -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <input
                type="text"
                name="contact[first_name]"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                value="{% if form.first_name != blank %}{{ form.first_name }}{% endif %}"
                placeholder="{{ section.settings.form_first_name }}">
            </div>

            <!-- Last Name -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <input
                type="text"
                name="contact[last_name]"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                value="{% if form.last_name != blank %}{{ form.last_name }}{% endif %}"
                placeholder="{{ section.settings.form_last_name }}">
            </div>

            <!-- Email -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <input
                type="email"
                name="contact[email]"
                value="{% if form.email != blank %}{{ form.email }}{% endif %}"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                placeholder="{{ section.settings.form_email }}"
                required>
            </div>

            <!-- Message -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <textarea
                name="contact[message]"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                placeholder="{{ section.settings.form_content }} {% if form.message != blank %}{{ form.message }}{% endif %}"></textarea>
            </div>

            <!-- Privacy Policy -->
            <div class="form-group w-full flex flex-row gap-x-1 items-center justify-start mt-6">
              <input
                type="checkbox"
                id="privacy_policy"
                name="contact[privacy]"
                class="w-4 h-4 border-gray-300 rounded"
                required>
              <label for="privacy_policy" class="text-sm text-gray-700">
                Privacy Policy*
              </label>
            </div>

            <!-- Secondary Info -->
            <p class="caption text-[#7A7A7A]">{{ section.settings.form_privacy }}</p>

            <!-- Submit Button -->
            <div class="cta-accent">
              <button type="submit" id="Subscribe">{{ section.settings.form_cta }}</button>
              {% render 'cta-icon' %}
            </div>

          {% endform %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const appointmentButtons = document.querySelectorAll('.book-appointment');
    const formContainer = document.querySelector('.form-container');
    const eventNameElement = formContainer.querySelector('.events-name');
    const confirmPopup = document.querySelector('.confirm-pop-up'); 
    const closeIcon = formContainer.querySelector('.icon-content');
  
    appointmentButtons.forEach(button => {
      button.addEventListener('click', function() {
        const articleTitle = this.closest('.events-container').querySelector('.article-title').innerText;
        eventNameElement.textContent = articleTitle;
        formContainer.classList.remove('hidden');
        formContainer.classList.remove('translate-y-full'); 
        formContainer.classList.add('translate-y-0'); 
      });
    });
  
    closeIcon.addEventListener('click', function() {
      formContainer.classList.add('translate-y-full');
      setTimeout(() => {
        formContainer.classList.add('hidden');
      }, 300); 
    });
  
    {% if form.posted_successfully? %}
      formContainer.classList.add('translate-y-full');
      setTimeout(() => {
        formContainer.classList.add('hidden');
      }, 300); 
      confirmPopup.classList.remove('hidden'); 
  
      setTimeout(() => {
        confirmPopup.classList.add('hidden');
      }, 3000);
    {% endif %}
  });
</script>


{% schema %}
  {
    "name": "contact-form",
    "settings": [
      {
        "type": "text",
        "id": "redirect_google",
        "label": "Google Maps",
        "default": "Show on Google maps"
      },
      {
        "type": "text",
        "id": "redirect_google_url",
        "label": "Google Maps Url",
        "default": "Google Maps Url"
      },
      {
        "type": "text",
        "id": "redirect_calendar",
        "label": "Google Calendar",
        "default": "Open Google Calendar"
      },
      {
        "type": "text",
        "id": "cta_appointment",
        "label": "Cta Appointment",
        "default": "Book appointment"
      }, {
        "type": "text",
        "id": "redirect_google_calendar",
        "label": "Google Calendar Url",
        "default": "Google Calendar Url"
      }, {
        "type": "text",
        "id": "confirm_message",
        "label": "Confirm form message",
        "default": "Request sent"
      }, {
        "type": "text",
        "id": "form_first_name",
        "label": "Form Name",
        "default": "Name"
      }, {
        "type": "text",
        "id": "form_last_name",
        "label": "Last Name",
        "default": "Last Name"
      }, {
        "type": "text",
        "id": "form_email",
        "label": "Email",
        "default": "Email*"
      }, {
        "type": "text",
        "id": "form_content",
        "label": "Message",
        "default": "Message"
      }, {
        "type": "textarea",
        "id": "form_privacy",
        "label": "Secondary Info",
        "default": "I would like to receive marketing communications about products, services, and events offered by CANTIERE DEL PARDO S.p.A. I understand that these communications may be personalized based on my interests, preferences, and use of products and services, including invitations to provide feedback on the customer experience."
      }, {
        "type": "text",
        "id": "form_cta",
        "label": "CTA Text",
        "default": "Send"
      }
    ]
  }
{% endschema %}