<div class="blog-events-container w-full h-auto flex flex-col items-start justify-center lg:flex-wrap lg:flex-row lg:mb-10 relative overflow-hidden">
  {% if blogs['events'] %}
    {% assign eventsArticles = blogs['events'].articles %}
    {% if eventsArticles.size > 0 %}
      {% for eventArticle in eventsArticles %}
        <div class="blog-events-container w-full h-auto p-4 flex-col gap-y-2 items-start justify-center hidden lg:w-1/3 transition-all duration-150 hover:border hover:border-black cursor-pointer">
          <div class="events-container w-full h-auto min-h-[224px] p-4 rounded-xl bg-[var(--secondary-background-color)] flex flex-col gap-y-6">
            <div class="events-details-primary w-full h-auto flex flex-col gap-y-1">
              <p class="article-title body-16-medium">{{ eventArticle.title }}</p>
              <p class="article-content body-14">{{ eventArticle.published_at }}</p>
            </div>
            <div class="events-details-secondary w-full h-auto flex flex-col gap-y-2">
              <div class="events-details-cta-primary w-auto h-auto flex flex-row gap-x-2 items-center justify-start">
                <p class="body-14 underline">Show on Google Maps</p>
                {% render 'cta-icon' %}
              </div>
              <div class="events-details-cta-secondary w-auto h-auto flex flex-row gap-x-2 items-center justify-start">
                <p class="body-14 underline">Aggiungi al Calendario</p>
                {% render 'calendar-icon' %}
              </div>
            </div>
            <div class="events-cta">
              <div class="cta-appointment book-appointment">
                <p class="body-14">Prenota appuntamento</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}

  <!-- Book appointment -->
  {% if form.posted_successfully? %}
    <!-- Confirm pop-up -->
    <div class="confirm-pop-up w-full h-auto fixed bottom-0 right-0 left-0 p-4 flex flex-col items-start justify-between rounded-lg border border-black bg-white hidden transition-opacity duration-300 ease-in-out">
      {% render 'check-icon' %}
      <p class="body-12">{{ section.settings.confirm_message }}</p>
    </div>
  {% else %}
    <!-- Form container -->
    <div class="form-container w-full h-auto absolute bottom-0 left-0 right-0 p-4 rounded-lg shadow-custom bg-white z-30 transform translate-y-full transition-transform duration-300 ease-in-out hidden">
      <div class="wrapper-form-appointment w-full h-3/4 flex flex-col gap-y-6">

        <!-- Form Header -->
        <div class="form-appointment-headers w-full h-auto flex flex-col items-center justify-center relative">
          <p class="body-14-medium events-name"></p>

          <!-- Close Icon -->
          <div class="icon-content absolute right-0 top-0">
            {% render 'x-icon' %}
          </div>
        </div>

        <!-- Form Content -->
        <div class="form-appointment-content w-full h-auto flex flex-col items-start justify-center">
          {% form 'contact', class: "w-full h-full flex flex-col items-start justify-center gap-y-3 mt-4 mb-4" %}

            <!-- Form Errors -->
            {{ form.errors | default_errors }}

            <!-- First Name -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <input
                type="text"
                name="contact[first_name]"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                value="{% if form.first_name != blank %}{{ form.first_name }}{% endif %}"
                placeholder="{{ section.settings.form_first_name }}">
            </div>

            <!-- Last Name -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <input
                type="text"
                name="contact[last_name]"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                value="{% if form.last_name != blank %}{{ form.last_name }}{% endif %}"
                placeholder="{{ section.settings.form_last_name }}">
            </div>

            <!-- Email -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <input
                type="email"
                name="contact[email]"
                value="{% if form.email != blank %}{{ form.email }}{% endif %}"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                placeholder="{{ section.settings.form_email }}"
                required>
            </div>

            <!-- Message -->
            <div class="form-group w-full h-auto flex flex-col items-start justify-center">
              <textarea
                name="contact[message]"
                class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]"
                placeholder="{{ section.settings.form_content }} {% if form.message != blank %}{{ form.message }}{% endif %}"></textarea>
            </div>

            <!-- Privacy Policy -->
            <div class="form-group w-full flex flex-row gap-x-1 items-center justify-start mt-6">
              <input
                type="checkbox"
                id="privacy_policy"
                name="contact[privacy]"
                class="w-4 h-4 border-gray-300 rounded"
                required>
              <label for="privacy_policy" class="text-sm text-gray-700">
                Privacy Policy*
              </label>
            </div>

            <!-- Secondary Info -->
            <p class="caption text-[#7A7A7A]">{{ section.settings.form_privacy }}</p>

            <!-- Submit Button -->
            <div class="cta-accent">
              <button type="submit" id="Subscribe">{{ section.settings.form_cta }}</button>
              {% render 'cta-icon' %}
            </div>

          {% endform %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const appointmentButtons = document.querySelectorAll('.book-appointment');
    const formContainer = document.querySelector('.form-container');
    const eventNameElement = formContainer.querySelector('.events-name');
    const confirmPopup = document.querySelector('.confirm-pop-up'); 
    const closeIcon = formContainer.querySelector('.icon-content');

    appointmentButtons.forEach(button => {
      button.addEventListener('click', function() {
        const articleTitle = this.closest('.events-container').querySelector('.article-title').innerText;
        eventNameElement.textContent = articleTitle;
        formContainer.classList.remove('hidden');
        formContainer.classList.remove('translate-y-full'); 
        formContainer.classList.add('translate-y-0'); 
      });
    });

    closeIcon.addEventListener('click', function() {
      formContainer.classList.add('translate-y-full');
      setTimeout(() => {
        formContainer.classList.add('hidden');
      }, 300); 
    });

   
    {% if form.posted_successfully? %}
      formContainer.classList.add('translate-y-full');
      setTimeout(() => {
        formContainer.classList.add('hidden');
      }, 300); 
      confirmPopup.classList.remove('hidden'); 

    
      setTimeout(() => {
        confirmPopup.classList.add('hidden');
      }, 3000);
    {% endif %}
  });
</script>


{% schema %}
  {
    "name": "contact-form",
    "settings": [
      {
        "type": "text",
        "id": "confirm_message",
        "label": "Confirm form message",
        "default": "Request sent"
      },
      {
        "type": "text",
        "id": "form_first_name",
        "label": "Form Name",
        "default": "Name"
      },
      {
        "type": "text",
        "id": "form_last_name",
        "label": "Last Name",
        "default": "Last Name"
      },
      {
        "type": "text",
        "id": "form_email",
        "label": "Email",
        "default": "Email*"
      },
      {
        "type": "text",
        "id": "form_content",
        "label": "Message",
        "default": "Message"
      }, {
        "type": "textarea",
        "id": "form_privacy",
        "label": "Secondary Info",
        "default": "Desidero ricevere comunicazioni di marketing su prodotti, servizi ed eventi offerti da CANTIERE DEL PARDO S.p.A. Comprendo che queste comunicazioni potrebbero essere personalizzate in base ai miei interessi, preferenze e utilizzo di prodotti e servizi, inclusi inviti a fornire feedback sull’esperienza del cliente."
      }, {
        "type": "text",
        "id": "form_cta",
        "label": "CTA Text",
        "default": "Send"
      }
    ]
  }
{% endschema %}


