<!-- Layout for Press Room  -->
<div id="pressroom-layout" class="blogs-list-container press-room w-full h-auto flex flex-col gap-y-3 mt-[100px] p-4">
    <!-- Press Room articles loop -->
    {% for collection in collections %}
    {% if collection.title == 'Pardo approved' %}
    {% assign pardoApproved = collection.products %}
    {% for product in pardoApproved %}
    <div class="card-product-item-press-room w-full h-auto flex flex-col gap-y-4 shadow-custom rounded-lg">
        <img src="{{ product.featured_image | img_url: 'master' }}"
            class="w-full h-auto min-h-[220px] object-cover rounded-t-lg"
            alt="product image">
        <div class="product-item-details flex flex-col gap-y-4">
            <p class="body-14">{{ product.title }}</p>
            <p class="body-12">{{ product.description }}</p>

            <div class="product-info-container w-full h-auto flex flex-row items-start justify-between">
                <p class="caption font-semibold">Year: {{ product.metafields.custom.year.value }}</p>
                <p class="caption font-semibold">Series: {{ product.metafields.custom.series.value }}</p>
            </div>

            <div class="blog-item-cta w-full h-auto flex items-center justify-start">
                <div class="cta-download flex items-center gap-x-2">
                    <a href="{{ product.url }}">
                        <p class="body-14-medium">Dettagli</p>
                    </a>
                    {% render 'download-icon' %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
