<!-- Collab Section home page -->
<div class="collab-card-container w-full h-auto flex flex-col items-center justify-start gap-y-6 bg-[#908987] px-6 py-14 lg:px-20 lg:py-[120px] lg:gap-y-10">

  <!--handle card blocks here choosed by user -->
  {% for block in section.blocks %}
    {% if block.type == "collab-card" %}
      <div class="w-full h-[480px] collab-container p-6 bg-[#8B7E7A] flex flex-col items-start justify-between relative lg:flex-1 lg:h-[480px] lg:min-h-[480px] lg:px-10">
        <p class="text-[32px] leading-[38px] text-white">{{ block.settings.collab_custom_collab_heading | default: "Collaboration" }}</p>
        <img
          src="{{ block.settings.collab_custom_collab_image | img_url: 'master' }}"
          class="w-[260px] h-auto object-contain lg:h-[30px] lg:object-contain absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
          alt="{{ block.settings.collab_custom_collab_heading | default: " Collaboration Image" }}">
        <a href="{{ block.settings.collab_custom_collab_cta_text_url }}" class="inline-flex justify-end">
          <div class="w-auto h-auto flex flex-row items-start justify-center text-white">
            <p class="body-16 text-white">{{ block.settings.collab_custom_collab_cta_text | default: "Discover" }}</p>
            {% render 'cta-icon' %}
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}

  <!--default card here -->
  <div class="w-full h-[480px] collab-container p-6 flex flex-col items-start justify-between relative lg:flex-1 lg:h-[480px] lg:min-h-[480px] lg:px-10" style="background-image: url('{{ section.settings.collab_custom_collab_image | img_url: 'master' }}'); background-size: cover;">
    <p class="text-[32px] leading-[38px] text-white">{{ section.settings.collab_custom_collab_heading | default: "Connect on Instagram" }}</p>
    <a href="{{ section.settings.collab_custom_collab_cta_text_url }}" class="inline-flex justify-end">
      <div class="w-auto h-auto inline-flex flex-row items-start justify-center text-white">
        <p class="body-16 text-white">{{ section.settings.collab_custom_collab_cta_text | default: "Follow us" }}</p>
        {% render 'cta-icon' %}
      </div>
    </a>
  </div>

</div>

{% comment %} 
    Section Schema Settings here; 
{% endcomment %}

{% schema %}
  {
    "name": "Collab-Cards",
    "settings": [
      {
        "type": "text",
        "id": "collab_custom_collab_heading",
        "label": "Collab Custom Heading",
        "info": "Choose the collab heading"
      },
      {
        "type": "text",
        "id": "collab_custom_collab_cta_text",
        "label": "Collab Custom CTA Text",
        "info": "Choose the collab CTA text"
      },
      {
        "type": "url",
        "id": "collab_custom_collab_cta_text_url",
        "label": "Collab Custom CTA Text URL",
        "info": "Choose the collab CTA text URL"
      },
      {
        "type": "image_picker",
        "id": "collab_custom_collab_image",
        "label": "Collab Custom Image",
        "info": "Choose the collab image"
      }
    ],
    "blocks": [
      {
        "name": "collab-card",
        "type": "collab-card",
        "settings": [
          {
            "type": "text",
            "id": "collab_custom_collab_heading",
            "label": "Collab Custom Heading",
            "info": "Choose the collab heading"
          },
          {
            "type": "text",
            "id": "collab_custom_collab_cta_text",
            "label": "Collab Custom CTA Text",
            "info": "Choose the collab CTA text"
          },
          {
            "type": "url",
            "id": "collab_custom_collab_cta_text_url",
            "label": "Collab Custom CTA Text URL",
            "info": "Choose the collab CTA text URL"
          },
          {
            "type": "image_picker",
            "id": "collab_custom_collab_image",
            "label": "Collab Custom Image",
            "info": "Choose the collab image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collab Cards",
        "category": "Custom Sections",
        "settings": {
          "collab_custom_collab_heading": "Collaboration",
          "collab_custom_collab_cta_text": "Discover",
          "collab_custom_collab_cta_text_url": "https://instagram.com/",
          "collab_custom_collab_image": "shopify://shop_images/ab94c9bd7d1a9f21b531a986901666f6.jpg"
        },
        "blocks": [
          {
            "type": "collab-card",
            "settings": {
              "collab_custom_collab_heading": "Connect on Instagram",
              "collab_custom_collab_cta_text": "Follow us",
              "collab_custom_collab_cta_text_url": "https://instagram.com/",
              "collab_custom_collab_image": "shopify://shop_images/PardoYatch-Home-Collaborations-FalconerixPardo.png"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
