<!-- Collab Cards -->
<div class="wrapper-articles-list w-full h-auto flex flex-col items-start justify-center gap-y-4 p-6 mb-10 lg:flex-row lg:flex-wrap lg:gap-x-4 lg:items-center lg:pb-0 lg:justify-start lg:px-20 lg:pt-10 lg:mb-[120px]">

    <!-- Assign liquid variables -->
    {% assign allBlogs = "Collab, " | split: "," %}
    {% for handle in allBlogs %}
    {% for article in blogs[handle].articles %}
    {% unless article.tags contains "Past" %}

    <!-- Collab wrap -->
    <div class="card-article w-full h-auto flex flex-col items-start justify-start relative rounded-2xl bg-[#EFEEED] lg:w-[calc(50%_-_0.5rem)] lg:min-h-[440px]">
        <!--Collab card image-->
        <div class="w-full h-[220px] min-h-[220px]">
            <img src="{{ article.image |  img_url: 'master'}}" alt="{{ article.title }}"
                class="w-full h-full object-cover object-center rounded-t-2xl">
        </div>

        <!--Collab wrap content-->
        <div class="card-article-content w-full h-auto flex flex-col gap-y-6 items-start justify-start p-6">

            <div class="w-full h-auto flex flex-col items-start justify-center gap-y-3">
                <p class="text-[24px] leading-[24px] tt-norms-pro-med">{{ article.title }}</p>
                <p class="body-14">{{ article.content | truncate: 100 }}</p>
            </div>

            <!--Collab card button-->
            <div class="w-full h-auto flex flex-row items-start justify-end lg:absolute lg:right-6 lg:bottom-6">
                <!-- Container button -->
                <a href="">
                    <div class="inline-flex cta-choco-round w-[129px] h-[32px]">
                        <p class="body-14">{{ section.settings.cta_text | default: "Buy now" }}</p>
                    </div>
                </a>
            </div>
        </div>


    </div>
    {% endunless %}

    {% endfor %}
    {% endfor %}
</div>