<!-- collab section home page -->
<div class="collab-scroll w-full h-auto flex flex-row items-center justify-start overflow-x-auto space-x-2 p-4 mb-[40px]  lg:p-10 lg:overflow-x-hidden">
  {% assign collab_images = "collab_image_1,collab_image_2," | split: "," %}
  {% for collab_image in collab_images %}
    {% assign collab_image_url = section.settings[collab_image] | img_url: 'master' %}
    {% if collab_image_url %}
      {% if collab_image[0] %}
        <div class="collab-container px-10 lg:px-[100px] lg:flex-1 lg:h-[400px]">
          <img
            src="{{ collab_image_url }}"
            class="w-full h-full object-contain lg:h-[30px] lg:object-contain"
            alt="{{ collab_image.alt }}">
        </div>
      {% else %}
        <div class="collab-container lg:flex-1 px-10 lg:h-[400px] lg:px-[100px]">
          <img
            src="{{ collab_image_url }}"
            class="w-full h-full object-contain lg:h-[90px] lg:object-contain"
            alt="{{ collab_image.alt }}">
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for block in section.blocks %}
    {% if block.type == "collab-card" %}
      <div class="collab-container px-10 lg:px-[100px] lg:flex-1 lg:h-[400px]">
        <img
          src="{{ collab_custom_collab_image }}"
          class="w-full h-full object-contain lg:h-[30px] lg:object-contain"
          alt="{{ collab_custom_collab_image.alt }}">
      </div>
    {% endif %}
  {% endfor %}
</div>


{% comment %} 
    Section Schema Settings here; 
{% endcomment %}
{% schema %}
  {
    "name": "Collab-Cards",
    "settings": [
      {
        "type": "image_picker",
        "id": "collab_image_1",
        "label": "Collab Image 1",
        "info": "Choose the collab Image"
      }, {
        "type": "image_picker",
        "id": "collab_image_2",
        "label": "Collab Image 2",
        "info": "Choose the collab Image"
      }
    ],
    "blocks": [
      {
        "name": "collab-card",
        "type": "collab-card",
        "settings": [
          {
            "type": "image_picker",
            "id": "collab_custom_collab_image",
            "label": "Collab Costum Image",
            "info": "Choose the collab Image"
          }
        ]
      }
    ],
    "max_blocks": 5,
    "presets": [
      {
      "name": "Collab Cards Section",
      "category": "Custom Sections",
      "settings": {
          "collab_image_1": "shopify://shop_images/PardoYatch-Home-Collaborations-FalconerixPardo.png",
          "collab_image_2": "shopify://shop_images/PardoYatch-Home-Collaborations-FalconerixPardo.png"
      }
    }
    ]
  }
{% endschema %}