<!-- contact form -->
<div class="contact-form-container w-full h-auto flex flex-col items-start justify-center gap-y-6 p-4 mt-[100px] mb-10">
  <div class="contact-form-container-heading w-full h-auto flex flex-col items-start justify-center gap-y-3">
    <p class="body-16-medium">{{ section.settings.form_heading }}</p>
    <p class="body-12">{{ section.settings.alert_form_message }}</p>
  </div>

  <div class="form-container w-full h-auto flex flex-col items-start justify-center gap-y-4">
    {% form 'contact', class: "form-contact w-full h-auto flex flex-col items-start justify-center gap-y-4" %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="body-16 text-white">{{ section.settings.thankyou_message }}</p>
      {% else %}
        <!-- Form Content -->
        <div class="contact-form-content">
          <!-- First Name -->
          <div class="form-group w-full h-auto flex flex-col items-start justify-center">
            <input type="text" name="contact[first_name]" id="first_name" value="{% if form.first_name != blank %}{{ form.first_name }}{% endif %}" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_name }}" required>
          </div>

          <!-- Last Name -->
          <div class="form-group w-full h-auto flex flex-col items-start justify-center">
            <input type="text" name="contact[last_name]" id="last_name" value="{% if form.last_name != blank %}{{ form.last_name }}{% endif %}" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_lastname }}" required>
          </div>

          <!-- Email -->
          <div class="form-group w-full h-auto flex flex-col items-start justify-center">
            <input type="email" name="contact[email]" id="email" value="{% if form.email != blank %}{{ form.email }}{% endif %}" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_email }}" required>
          </div>

          <!-- Phone -->
          <div class="form-group w-full h-auto flex flex-col items-start justify-center">
            <input type="tel" name="contact[phone]" id="phone" value="{% if form.phone != blank %}{{ form.phone }}{% endif %}" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_phone }}">
          </div>

          <!-- Product Option -->
          <div class="form-group w-full h-auto flex flex-col items-start justify-center">
            <select name="contact[product_option]" id="product_option" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]">
              <option value="" disabled {% if form.product_option == blank %}selected{% endif %}>{{ section.settings.form_models }}</option>
              {% for collection in collections %}
                {% for product in collection.products %}
                  <option value="{{ product.title }}" {% if form.product_option == product.title %}selected{% endif %}>{{ product.title }}</option>
                {% endfor %}
              {% endfor %}
            </select>
          </div>

          <!-- Port -->
          <div class="form-group w-full">
            <input type="text" name="contact[port]" id="port" value="{% if form.port != blank %}{{ form.port }}{% endif %}" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_port }}">
          </div>

          <!-- Boat Registration -->
          <div class="form-group w-full">
            <input type="text" name="contact[boat_registration]" id="boat_registration" value="{% if form.boat_registration != blank %}{{ form.boat_registration }}{% endif %}" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_boat }}">
          </div>

          <!-- Message -->
          <div class="form-group w-full">
            <textarea name="contact[message]" id="message" class="w-full h-auto px-4 py-3 rounded-lg bg-[var(--primary-background-color)]" placeholder="{{ section.settings.form_message }}">{% if form.message != blank %}{{ form.message }}{% endif %}</textarea>
          </div>

          <!-- Primary Info -->
          <p class="body-12">{{ section.settings.form_info_primary }}</p>

          <!-- Privacy Policy -->
          <div class="form-group w-full flex flex-row gap-x-3 items-center justify-start">
            <input type="checkbox" id="privacy_policy" name="contact[privacy]" class="w-4 h-4 border-gray-300 rounded" required>
            <label for="privacy_policy" class="ml-2 text-sm text-gray-700">
              Privacy Policy
            </label>
          </div>

          <!-- Secondary Info -->
          <p class="caption text-[#7A7A7A]">{{ section.settings.form_info_secondary }}</p>

          <!-- Submit Button -->
          <div class="cta-accent">
            <button type="submit" id="Subscribe">{{ section.settings.form_cta }}</button>
            {% render 'cta-icon' %}
          </div>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>



{% schema %}
{
  "name": "contact-form",
  "settings": [
    {
      "type": "text",
      "id": "form_heading",
      "label": "Form Heading",
      "default": "Chiedi a noi, saremo lieti di assisterti"
    },
    {
      "type": "text",
      "id": "alert_form_message",
      "label": "Alert Message",
      "default": "Campi obbligatori*"
    },
    {
      "type": "text",
      "id": "thankyou_message",
      "label": "Thank You Message",
      "default": "Thank you"
    },
    {
      "type": "text",
      "id": "form_name",
      "label": "Form Name",
      "default": "Name*"
    },
    {
      "type": "text",
      "id": "form_lastname",
      "label": "Last Name",
      "default": "Last Name*"
    },
    {
      "type": "text",
      "id": "form_email",
      "label": "Email",
      "default": "Email*"
    },
    {
      "type": "text",
      "id": "form_phone",
      "label": "Phone",
      "default": "Phone*"
    },
    {
      "type": "text",
      "id": "form_models",
      "label": "Models",
      "default": "Models"
    },
    {
      "type": "text",
      "id": "form_port",
      "label": "Port",
      "default": "Port"
    },
    {
      "type": "text",
      "id": "form_boat",
      "label": "Boat",
      "default": "Boat"
    },
    {
      "type": "textarea",
      "id": "form_message",
      "label": "Message",
      "default": "Message"
    },
    {
      "type": "textarea",
      "id": "form_info_primary",
      "label": "Primary Info",
      "default": "Tienimi informato, così posso ricevere: Informazioni su prodotti e servizi di mio interesse. Comunicazioni personalizzate fornite con il metodo più adatto a me. Opportunità uniche per dire la mia e contribuire a plasmare il futuro di Pardo Yachts."
    },
    {
      "type": "textarea",
      "id": "form_info_secondary",
      "label": "Secondary Info",
      "default": "Desidero ricevere comunicazioni di marketing su prodotti, servizi ed eventi offerti da CANTIERE DEL PARDO S.p.A. Comprendo che queste comunicazioni potrebbero essere personalizzate in base ai miei interessi, preferenze e utilizzo di prodotti e servizi, inclusi inviti a fornire feedback sull’esperienza del cliente."
    },
    {
      "type": "text",
      "id": "form_cta",
      "label": "CTA Text",
      "default": "Send"
    }
  ]
}
{% endschema %}
