<div class="card-loc-container w-full h-auto flex flex-row items-center justify-start overflow-x-auto gap-4 px-8 py-4">
    {% for block in section.blocks %}
        {% if block.type == "card-location-default" %}
            <div class="card-loc-container flex-shrink-0 w-[250px] min-h-[310px] h-auto flex flex-col items-center justify-start gap-y-4 bg-[#F7F7F7] rounded-lg p-4 shadow-custom">
                <div class="card-loc-heading-container w-full h-auto flex items-center justify-start">
                    <p class="body-16">{{ block.settings.card_loc_default_heading }}</p>
                </div>
                <div class="card-loc-address-container w-full h-auto flex items-center justify-start">
                    <p class="body-12">{{ block.settings.card_loc_default_address }}</p>
                </div>
                <div class="card-loc-cta-container w-full h-auto flex items-center justify-start">
                    <li class="card-loc-cta-content list-none w-full h-auto flex flex-row gap-x-2">
                        <a class="underline" href="/">Show on Google Maps</a>
                        {% render 'cta-icon' %}
                    </li>
                </div>
                <div class="card-loc-email-container w-full h-auto flex items-center justify-start">
                    <p class="body-12">{{ block.settings.card_loc_default_email }}</p>
                </div>
                <div class="card-loc-phonedetails-container w-full h-auto flex items-center justify-start">
                    <p class="body-12">{{ block.settings.card_loc_default_phone }}</p>
                </div>
            </div>
        {% elsif block.type == "card-location-additional" %}
            <div class="card-loc-container flex-shrink-0 w-[250px] min-h-[310px] h-auto flex flex-col items-center justify-start gap-y-4 bg-[#F7F7F7] rounded-lg p-4 shadow-custom">
                <div class="card-loc-heading-container w-full h-auto flex items-center justify-start">
                    <p class="body-16">{{ block.settings.card_loc_additional_heading }}</p>
                </div>
                <div class="card-loc-content-container w-full h-auto flex items-center justify-start">
                    <p class="body-12">{{ block.settings.card_loc_additional_content }}</p>
                </div>
                <div class="card-loc-cta-container w-full h-auto flex items-center justify-start">
                    <li class="card-loc-cta-content list-none w-full h-auto flex flex-row gap-x-2">
                        <a class="underline" href="/">Locate a dealer</a>
                        {% render 'cta-icon' %}
                    </li>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% schema %}
    {
        "name": "card-location",
        "blocks": [
            {
                "name": "card-location-default",
                "type": "card-location-default",
                "settings": [
                    {
                        "type": "text",
                        "id": "card_loc_default_heading",
                        "label": "Card Heading",
                        "default": "Headquarters"
                    },
                    {
                        "type": "text",
                        "id": "card_loc_default_address",
                        "label": "Card Address",
                        "default": "Indirizzo: Via F.II Lumière, 34 47122 Forlì (FC)"
                    },
                    {
                        "type": "text",
                        "id": "card_loc_default_email",
                        "label": "Card Email",
                        "default": "Email: info@pardoyachts.com"
                    },
                    {
                        "type": "text",
                        "id": "card_loc_default_phone",
                        "label": "Card Phone",
                        "default": "Telefono: +39 0543 782404"
                    }
                ]
            },
            {
                "name": "card-location-additional",
                "type": "card-location-additional",
                "settings": [
                    {
                        "type": "text",
                        "id": "card_loc_additional_heading",
                        "label": "Card Heading",
                        "default": "Bespoke da sempre"
                    },
                    {
                        "type": "textarea",
                        "id": "card_loc_additional_content",
                        "label": "Card Content",
                        "default": "Un team appassionato, esperto ed estremamente competente può assisterti nel tuo viaggio nell’acquisto di Pardo Yachts; condividendo le tue preferenze creeremo la soluzione più adatta a te."
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Default Location Card",
                "category": "Card",
                "blocks": [
                    {
                        "type": "card-location-default"
                    }
                ]
            },
            {
                "name": "Additional Location Card",
                "category": "Card",
                "blocks": [
                    {
                        "type": "card-location-additional"
                    }
                ]
            }
        ]
    }
    {% endschema %}