<!-- Eco Module Section -->
<div class="eco-container w-full h-auto flex flex-col items-start justify-center p-4 mb-10 bg-[#A9A09E] lg:items-center lg:mb-0 lg:px-10">
  <!-- Box Containers with Eco and Innovation Sections -->
  <div class="box-containers w-full h-auto flex flex-col gap-y-10 items-start justify-center lg:flex-row lg:gap-x-4">

    <!-- Innovation Container -->
    <div class="innovation-container-primary w-full h-auto min-h-[230px] flex flex-col gap-y-4 rounded-lg shadow-custom p-4 bg-white lg:px-6 lg:pt-6 lg:pb-6">
      <p class="body-14">{{ section.settings.section_heading }}</p>
      <p class="body-16 italic">{{ section.settings.section_heading_secondary }}</p>
      <p class="body-12 text-[var(--hover-accent-color)]">{{ section.settings.section_content }}</p>
    </div>

  </div>
</div>

<!-- Innovation Section -->
<div class="innovation-container w-full h-auto flex flex-col gap-y-4 items-start justify-center p-4 mb-8 overflow-x-hidden lg:items-center lg:gap-y-6 relative lg:px-10">

  <!-- Arrow Box -->
  <div class="w-full h-auto hidden lg:flex lg:justify-end lg:gap-x-6">
    <button id="prevArrow" class="carousel-arrow left-arrow flex items-center justify-center w-10 h-10 rounded-full border border-black text-white">
      {% render 'arrow-left-icon' %}
    </button>
    <button id="nextArrow" class="carousel-arrow right-arrow flex items-center justify-center w-10 h-10 rounded-full border border-black text-white">
      {% render 'arrow-right-icon' %}
    </button>
  </div>

  <!-- Scrolling Images -->
  <div class="innovation-container-scrolling w-[calc(100%+2rem)] px-4 -mx-4 overflow-x-auto h-auto flex flex-row items-center justify-start gap-x-2 p-0 mb-8 lg:w-[calc(100%+5rem)] lg:px-10 lg:-mx-10">
    {% for block in section.blocks %}
      {% if block.type == "scroll-image" %}
        {% assign blockItems = forloop.index | modulo: 2 %}
        {% if blockItems == 0 %}
          <!-- Card for even index -->
          <div class="card-image w-[380px] min-w-[380px] h-[386px] min-h-[480px] p-6 flex flex-col items-start justify-start rounded-2xl lg:w-[400px] lg:min-w-[400px] relative bg-cover bg-center" style="background-image: url({{ block.settings.scroll_image | img_url: 'master' }});">
            <div class="card-image-content w-full h-auto flex flex-col gap-y-1 items-start justify-start p-2">
              <p class="text-[24px] leading-[30px] ">{{ block.settings.text_card_image | truncate: 100 }}</p>
            </div>
          </div>
        {% else %}
          <!-- Card for odd index -->
          <div class="card-image w-[380px] min-w-[380px] h-[386px] min-h-[480px] p-6 flex flex-col items-start justify-end rounded-2xl lg:w-[400px] lg:min-w-[400px] relative bg-cover bg-center" style="background-image: url({{ block.settings.scroll_image | img_url: 'master' }});">
            <div class="card-image-content w-full h-auto flex flex-col gap-y-1 items-start justify-start p-2">
              <p class="text-[24px] leading-[30px]">{{ block.settings.text_card_image | truncate: 100 }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  
</div>

<style>
  .carousel-arrow.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .carousel-arrow:not(.disabled) {
    opacity: 1;
    pointer-events: auto;
  }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const prevArrow = document.getElementById('prevArrow');
        const nextArrow = document.getElementById('nextArrow');
        const scrollContainer = document.querySelector('.innovation-container-scrolling');
        const images = Array.from(scrollContainer.querySelectorAll('img'));
        if (images.length > 1) {
            const firstImage = images[0];
            const secondImage = images[1];
            const firstImageLeft = firstImage.offsetLeft;
            const secondImageLeft = secondImage.offsetLeft;
            const scrollAmount = secondImageLeft - firstImageLeft;
            function updateArrows() {
                const currentScrollLeft = scrollContainer.scrollLeft;
                const maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;
                prevArrow.classList.toggle('disabled', currentScrollLeft === 0);
                nextArrow.classList.toggle('disabled', currentScrollLeft >= maxScrollLeft);
            }
            function scrollContainerBy(amount) {
                const currentScrollLeft = scrollContainer.scrollLeft;
                const maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;

                let newScrollLeft = currentScrollLeft + amount;

                if (newScrollLeft < 0) {
                    newScrollLeft = 0;
                } else if (newScrollLeft > maxScrollLeft) {
                    newScrollLeft = maxScrollLeft;
                }

                scrollContainer.scrollTo({
                    left: newScrollLeft,
                    behavior: 'smooth'
                });

                setTimeout(updateArrows, 300);
            }
            if (prevArrow && nextArrow && scrollContainer) {
                prevArrow.addEventListener('click', function () {
                    scrollContainerBy(-scrollAmount);
                });

                nextArrow.addEventListener('click', function () {
                    scrollContainerBy(scrollAmount);
                });

                updateArrows();
                scrollContainer.addEventListener('scroll', updateArrows);
            }
        }
    });
</script>

{% schema %}
  {
    "name": "eco-innovation-module",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "default": "Eco Section",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "section_heading_secondary",
        "default": "Controllo qualità",
        "label": "Section Heading Secondary"
      },
      {
        "type": "textarea",
        "id": "section_content",
        "default": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
        "label": "Section Text Content"
      }
    ],
    "blocks": [
      {
        "type": "scroll-image",
        "name": "Scroll Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "scroll_image",
            "label": "Scroll Image"
          },
          {
            "type": "text",
            "id": "text_card_image",
            "label": "Text Card Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "eco-innovation-module",
        "category": "custom",
        "settings": {
          "section_heading": "Eco Section",
          "section_heading_secondary": "Controllo qualità",
          "section_content": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
        },
        "blocks": [
          {
            "type": "scroll-image",
            "settings": {
              "scroll_image": "shopify://shop_images/image_1.png",
              "text_card_image": "Text for first image"
            }
          },
          {
            "type": "scroll-image",
            "settings": {
              "scroll_image": "shopify://shop_images/image_2.png",
              "text_card_image": "Text for second image"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
