<!-- Eco Module Section -->
<div class="eco-container w-full h-auto flex flex-col items-start justify-center px-6 pt-8 pb-14 lg:items-center lg:mb-0 lg:px-10">

  <!-- Box Containers -->
  <div class="box-containers w-full h-auto flex flex-col gap-y-4 items-start justify-center lg:flex-row lg:gap-x-4">

    <!-- Etic Code Container -->
    <div class="innovation-container-primary w-full h-auto min-h-[230px] flex flex-col items-start justify-center gap-y-6 rounded-lg p-6 bg-[#EFEEED] lg:px-6 lg:pt-6 lg:pb-6">
      <p class="body-14">{{ section.settings.section_heading_etic }}</p>
      <p class="body-16 italic">{{ section.settings.section_subheading_etic }}</p>
      <p class="body-16">{{ section.settings.section_content_etic }}</p>
      <div class="w-full h-auto flex items-center justify-end">
        <a href="{{ section.settings.cta_link_etic }}" class="cta-choco-round h-[32px] lg:flex-1 lg:px-4 lg:py-2">
          <p class="body-14-medium">{{ section.settings.cta_text_etic }}</p>
        </a>
      </div>
    </div>

  </div>

</div>


{% schema %}
  {
    "name": "Eco Module Section",
    "settings": [
      {
        "type": "text",
        "id": "section_heading_etic",
        "label": "Etic Section Heading",
        "default": "Codice etico"
      },
      {
        "type": "text",
        "id": "section_subheading_etic",
        "label": "Etic Section Subheading",
        "default": "Progettare il lusso con un approccio ecologico"
      },
      {
        "type": "textarea",
        "id": "section_content_etic",
        "label": "Etic Section Content",
        "default": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
      },
      {
        "type": "text",
        "id": "cta_text_etic",
        "label": "CTA Text",
        "default": "Scarica il codice etico"
      }, {
        "type": "url",
        "id": "cta_link_etic",
        "label": "CTA Link"

      }
    ]
  }

{% endschema %}