<!-- time to find delear section -->
<div class="w-full h-auto flex items-start justify-center flex-col gap-y-2 bg-[#F7F7F7] lg:p-20">
  <!-- section title -->
  <div class="w-full h-auto flex items-start justify-center px-6 pt-14 pb-6 lg:justify-start lg:px-0">
    <p class="text-[48px] leading-[54px]  tt-norms-pro-light">{{ section.settings.section_title | default: "Time to find a delear" }}</p>
  </div>
  <!-- container image + text -->
  <div class="w-full h-auto flex flex-col items-start justify-center">
    <!-- image -->
    <div class="w-full h-auto">
      <img
        src="{{ section.settings.section_image |  img_url: 'master' }}"
        alt="{{ section.settings.section_image.alt}}"
        class="w-full h-[242px] max-h-[242px] object-cover object-center lg:h-[460px] lg:min-h-[460px]">
    </div>
    <!-- container text -->
    <div class="w-full h-auto p-6 flex flex-col items-start justify-center lg:px-0">
      <p class="body-16">{{ section.settings.section_text | default: "Korem ipsum dolor sit amet, consectetur
                adipiscing elit.
                Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos." }}</p>
    </div>
  </div>
  <!-- container button -->
  <div class="w-full h-[112px] flex flex-row items-start justify-end p-6 lg:px-0">
    <!-- container button -->
    <div class="inline-flex cta-choco-round h-[32px]">
      <a href="/pages/locate-delear">
        <p class="body-14">{{ section.settings.cta_text | default: "Find a delear" }}</p>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Find a dealer",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Time to find a dealer"
      }, {
        "type": "image_picker",
        "id": "section_image",
        "label": "Section Image"
      }, {
        "type": "text",
        "id": "section_text",
        "label": "Section Text",
        "default": "Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
      }, {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "Find a dealer"
      }
    ],
    "presets": [
      {
        "name": "Time to find a dealer"
      }
    ]
  }

{% endschema %}