<div class="footer w-full h-auto px-4 py-10 flex flex-col items-start justify-center bg-[var(--footer-color)]">
  <div class="footer-container w-full h-auto flex flex-col items-start justify-center">
    <div class="newsletter-form w-full h-auto flex flex-col items-start justify-center gap-y-6">
      <!-- form section headings -->
       <div class="newsletter-form-heading w-full h-auto flex flex-col items-start justify-center gap-y-6">
        {% if section.settings.section_title != blank %}
            <label for="Email" class="text-[30px] leading-[30px] font-semibold text-white">{{ section.settings.section_title | escape }}</label>
          {% endif %}
          {% if section.settings.subheading != blank %}
            <p class="body-16 text-white">{{ section.settings.subheading | escape }}</p>
          {% endif %}
       </div>
      <!-- form block -->
      {% form 'customer'
        , class: "newsletter-form-style w-full h-auto flex flex-col items-start justify-center gap-y-6" %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="body-16 text-white">{{ section.settings.thankyou_message }}</p>
        {% else %}
        <div class="newsletter-form-radio-containers w-full h-auto flex flex-col items-start justify-center gap-y-3">
     <!-- radio one -->
     <div class="radio-contaier w-full h-auto flex flex-row gap-x-2 items-center justify-start">
        <input class="appearance-none w-5 h-5 border-2 border-white rounded-full"
          type="radio"
          id="owner"
          name="contact[owner]">
        <label for="owner" class="body-16  text-white">{{ section.settings.checkbox_1_label }}</label>
      </div>
      <!-- radio two -->
      <div class="radio-contaier w-full h-auto flex flex-row gap-x-2 items-center justify-start">
        <input class="appearance-none w-5 h-5 border-2 border-white rounded-full"
          type="radio"
          id="visitor"
          name="contact[visitor]">
        <label for="visitor" class="body-16  text-white">{{ section.settings.checkbox_2_label }}</label>
      </div>
        </div>
          <input
            type="hidden"
            name="contact[tags]"
            value="newsletter">
          <input class="px-3 py-4 rounded-xl bg-[var(--background-color)] text-white"
            type="email"
            name="contact[email]"
            id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="{{ section.settings.placeholder_text }}">

            <button type="submit" name="commit" id="Subscribe">{{ section.settings.button_text }}</button>
      </button>
      {% endif %}
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "footer",   
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Stay Updated"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Get relevant news from the Pardo world sent to your email."
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "text",
        "id": "checkbox_1_label",
        "label": "Label Checkbox 1",
        "default": "Pardo owner"
      }, {
        "type": "text",
        "id": "checkbox_2_label",
        "label": "Label Checkbox 2",
        "default": "Visitor"
      }, {
        "type": "text",
        "id": "placeholder_text",
        "label": "Placeholder",
        "default": "Type your email"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Come on board"
      }

    ]
  }
{% endschema %}