<!-- Footer section -->
<div class="footer w-full h-auto px-6 py-16 flex flex-col items-start justify-center lg:flex-row lg:flex-wrap lg:gap-x-4 lg:justify-start" style="background: linear-gradient(180deg, #262322 0%, #716A68 48.5%, #393332 100%);">
  <div class="footer-container w-full h-auto flex flex-col items-start justify-center gap-y-6 pb-10 lg:w-[calc(33.3%_-_1rem)] lg:p-4">
    <div class="newsletter-form w-full h-auto flex flex-col items-start justify-center gap-y-8">
      <!-- form section headings -->
      <div class="newsletter-form-heading w-full h-auto flex flex-col items-start justify-center gap-y-8">
        {% if section.settings.section_title != blank %}
          <label for="Email" class="text-[30px] leading-[30px] font-semibold text-white">{{ section.settings.section_title
 | escape }}</label>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p class="body-16 text-white">{{ section.settings.subheading | escape }}</p>
        {% endif %}
      </div>
      <!-- form block -->
      {% form 'customer'
        , class: "newsletter-form-style w-full h-auto flex flex-col items-start justify-center gap-y-6" %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="body-16 text-white">{{ section.settings.thankyou_message }}</p>
        {% else %}
          <div class="newsletter-form-radio-containers w-full h-auto flex flex-row items-center justify-start gap-x-2">
            <!-- radio one -->
            <div class="radio-contaier w-auto min-w-[124px] h-auto flex flex-row gap-x-2 items-center justify-start">
              <input
                class="appearance-none w-5 h-5 border-[1.5px] border-white rounded-full checked:bg-white"
                type="radio"
                id="visitor"
                name="contact[role]"
                value="visitor">
              <label for="visitor" class="body-16  text-white">{{ section.settings.checkbox_2_label }}</label>
            </div>
            <!-- radio two -->
            <div class="radio-contaier w-auto min-w-[124px] h-auto flex flex-row gap-x-2 items-center justify-start">
              <input
                class="appearance-none w-5 h-5  border-[1.5px] border-white rounded-full checked:bg-white"
                type="radio"
                id="owner"
                name="contact[role]"
                value="owner">
              <label for="owner" class="body-16  text-white">{{ section.settings.checkbox_1_label }}</label>
            </div>
          </div>

          <!-- Hidden input to store the tag -->
          <input
            type="hidden"
            name="contact[tags]"
            id="user-tag"
            value="newsletter">

          <input
            class="w-full h-auto px-3 py-4 rounded-xl bg-white border-[0.5px] border-transparent text-white focus:outline-none focus:border-white  placeholder:text-black "
            type="email"
            name="contact[email]"
            id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="{{ section.settings.placeholder_text }}">
        {% endif %}
      {% endform %}
    </div>
  </div>

  <!-- social icon block here -->
  <div class="socials-menu-container w-full h-auto pb-14">
    <div class="social-links-container flex flex-row gap-x-6 items-center justify-start w-auto h-auto">
      {% for block in section.blocks %}
        {% if block.type == "social-channel" %}
          <div class="social-link-container w-auto h-auto">
            <li class="social-link flex flex-row gap-x-3 items-center justify-start">
              <img
                src="{{ block.settings.social_icon |  img_url: 'master' }}"
                alt="{{ block.settings.social_icon.alt }}"
                class="social-image w-5 h-5 object-cover"
                style="width: 20px; height: 20px">
            </li>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- footer menu links container -->
  <div class="footer-menu w-full h-auto py-6">
    <div class="footer-menu w-full h-auto flex flex-col gap-y-5 items-start justify-start lg:p-4 lg:flex-row lg:gap-x-4">
      <div class="discover-menu-container w-full h-auto flex flex-col gap-y-5">
        <div class="discover-links-container flex flex-col gap-y-3 items-start justify-center w-full h-auto">
          {% for link in linklists.main-menu.links %}
            <li class="list-none ">
              <a class="text-white text-[32px] leading-[32px]" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <!-- gamma footer container -->
  <div class="gamma-container w-full h-auto flex items-start justify-center gap-y-12 flex-col">

    <!-- gamma list containers -->
    <div class="w-full h-auto flex items-center justify-start flex-col">
      <div class="w-full h-auto flex items-center justify-start py-4">
        <p class="text-[32px] leading-[38px] font-semibold text-white">{{ section.settings.gamma_title | default:
 "Pardo's gamma" }}</p>
      </div>
      <div class="w-full h-auto flex items-start justify-center flex-col">
        {% assign collection_sorted = collections | sort: 'title' | reverse %}
        {% for collection in collection_sorted %}
          {% if collection.title != "Pardo approved" %}
            <div class="w-full h-auto flex items-start justify-center flex-col overflow-hidden">
              <li class="w-full h-auto flex items-start justify-between py-6">
                <span class="text-[20px] leading-[18px] text-white">{{ collection.title }}</span>
                <!-- plus icon -->
                <span class="w-auto h-auto flex items-center justify-center text-white dropdown-icon">
                  {% render 'plus-icon' %}
                </span>
              </li>
              <!-- content -->

              <div class="w-full h-auto transition-all duration-200 ease overflow-hidden dropdown-content">
                <div class="w-full h-auto flex items-start justify-center pt-2 pb-6 gap-y-4 flex-col">
                  <div class="w-auto h-auto">
                    <p class="body-14 text-white">{{ collection.description }}</p>
                  </div>
                  <div class="w-full h-auto flex items-center justify-start flex-row gap-x-6">
                    {% for product in collection.products %}
                      <a href="{{ product.url }}">
                        <p class="body-14 text-white font-semibold">{{ product.title | replace: "Pardo", "" }}</p>
                      </a>
                    {% endfor %}
                  </div>
                </div>
                <!-- discover gamma button -->
                <div class="w-full h-auto flex items-center justify-end">
                  <a href="{{ collection.url }}">
                    <div class="w-auto h-auto inline-flex cta-choco">
                      <p class="text-white body-14">{{ section.settings.cta_gamma | append: '   ' | append: collection.title }}</p>
                    </div>
                  </a>
                </div>

              </div>

            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- right reserved container + icon pardo -->
    <div class="w-full h-auto flex items-start justify-center flex-col  gap-y-12">

      <!-- pardo logo container -->
      <div class="w-full h-auto flex items-center justify-center pardo-logo">
        <!-- render cantiere logo -->
        {% render 'cantiere-icon' %}
      </div>
      <!-- reserved container -->

      <div class="right-reserved-container w-full h-auto flex items-center justify-start lg:w-full lg:flex-grow lg:justify-start">
        <p class="caption text-white text-center">{{ section.settings.right_reserved }}</p>
      </div>

    </div>

  </div>

</div>

<style>
  .rotate-90 {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
</style>


<script>
  
  document.addEventListener('DOMContentLoaded', function () {
    const radioButtons = document.querySelectorAll('input[name="contact[role]"]');
    const userTag = document.getElementById('user-tag');
  
    radioButtons.forEach(function (radio) {
      radio.addEventListener('change', function () {
        if (this.checked) {
          userTag.value = `newsletter,${this.value}`;
        }
      });
    });
  
    //handle drowdown
    const dropdownContents = document.querySelectorAll('.dropdown-content');
    dropdownContents.forEach((content) => {
      content.style.height = '0';
      content.style.overflow = 'hidden';
    });
  
    const dropIcons = document.querySelectorAll('.dropdown-icon');
    dropIcons.forEach((icon, index) => {
      icon.addEventListener('click', function () {
        const dropdownContent = dropdownContents[index];
  
        if (dropdownContent.style.height === '0px' || dropdownContent.style.height === '0') {
          dropdownContent.style.opacity = '1';
          dropdownContent.style.height = `${dropdownContent.scrollHeight}px`;
          icon.classList.add('rotate-90');
        } else {
          dropdownContent.style.opacity = '0';
          setTimeout(() => {
            dropdownContent.style.height = '0';
          }, 100)
          icon.classList.remove('rotate-90');
        }
      });
    });
  
  });
</script>


{% comment %} 
    Section Schema Settings here; 
{% endcomment %}
{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Be the first to know"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Get relevant news from the Pardo world sent to your email."
      },
      {
        "type": "text",
        "id": "thankyou_message",
        "label": "Thank you message",
        "default": "Thank you you are on board now!"
      },
      {
        "type": "text",
        "id": "checkbox_1_label",
        "label": "Label Checkbox 1",
        "default": "Pardo owner"
      }, {
        "type": "text",
        "id": "checkbox_2_label",
        "label": "Label Checkbox 2",
        "default": "Visitor"
      }, {
        "type": "text",
        "id": "placeholder_text",
        "label": "Placeholder",
        "default": "Email"
      }, {
        "type": "text",
        "id": "footer_models_menu",
        "label": "Models footer menu",
        "default": "Models"
      }, {
        "type": "text",
        "id": "footer_discover_menu",
        "label": "Discover footer menu",
        "default": "Discover"
      }, {
        "type": "text",
        "id": "footer_socials_menu",
        "label": "Socials footer menu",
        "default": "Socials"
      }, {
        "type": "text",
        "id": "right_reserved",
        "label": "Right Reserved",
        "default": "©2024 CANTIERE DEL PARDO S.p.A. • ITALY • P.IVA 03869300404 • Cap. Soc. € 5.261.600,00 i.v. • All Rights Reserved"
      }, {
        "type": "text",
        "id": "cta_gamma",
        "label": "Cta gamma",
        "default": "Discover",
        "info": "Set the cta gamma"
      }
    ],
    "blocks": [
      {
        "name": "social-channel",
        "type": "social-channel",
        "settings": [
          {
            "type": "image_picker",
            "id": "social_icon",
            "label": "Social Icon"
          }, {
            "type": "url",
            "id": "social_url",
            "label": "Social Url"
          }
        ]
      }
    ]
  }
{% endschema %}