<!-- Footer section -->
<div
  class="footer w-full h-auto px-6 py-16 flex flex-col items-start justify-center md:p-12 lg:flex-row lg:flex-wrap lg:gap-x-4 lg:justify-start lg:px-20 lg:py-[120px] lg:gap-y-10"
  style="background: linear-gradient(180deg, #262322 0%, #716A68 48.5%, #393332 100%);">

  <div
    class="w-full h-auto flex items-start justify-center flex-col lg:w-full lg:gap-y-10 lg:flex-wrap lg:flex-row lg:gap-x-6 lg:items-start relative">

    <div
      class="footer-container w-full h-auto flex flex-col items-start justify-center gap-y-6 lg:p-0 lg:w-[calc(50%_-_1.5rem)]">
      <div class="newsletter-form w-full h-auto flex flex-col items-start justify-center gap-y-8">
        <!-- form section headings -->
        <div class="newsletter-form-heading w-full h-auto flex flex-col items-start justify-center gap-y-8">
          {% if section.settings.section_title != blank %}
          <p class="text-[32px] leading-[38px] tt-norms-pro-light text-white">{{ section.settings.section_title | escape
            }}</label>
            {% endif %}
            {% if section.settings.subheading != blank %}
          <p class="body-16 text-white tt-norms-pro-reg lg:text-[18px] lg:leading-[24px]">{{ section.settings.subheading
            | escape }}<span class="ml-1"><a href="{{ section.settings.privacy_policy_redirect }}" class="tt-norms-pro-reg body-16 lg:text-[18px] lg:leading-[24px] underline">Privacy Policy</a></span>
          </p>
          {% endif %}
        </div>

        <!-- form block -->
        {% form 'customer', class: "newsletter-form-style w-full h-auto flex flex-col items-start justify-center
        gap-y-6" %}


        {{ form.errors | default_errors }}

        <div class="newsletter-form-radio-containers w-full h-auto flex flex-row items-center justify-start gap-x-2">
          <!-- radio one -->
          <div class="radio-contaier w-auto min-w-[124px] h-auto flex flex-row gap-x-2 items-center justify-start">
            <input
              class="appearance-none w-5 h-5 border-[1.5px] border-white bg-transparent rounded-full checked:bg-white focus:ring-0"
              type="radio" id="visitor" name="contact[role]" value="visitor">
            <label for="visitor" class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{
              section.settings.checkbox_2_label }}</label>
          </div>
          <!-- radio two -->
          <div class="radio-contaier w-auto min-w-[124px] h-auto flex flex-row gap-x-2 items-center justify-start">
            <input
              class="appearance-none w-5 h-5 border-[1.5px] border-white bg-transparent rounded-full checked:bg-white focus:ring-0"
              type="radio" id="owner" name="contact[role]" value="owner">
            <label for="owner" class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{
              section.settings.checkbox_1_label }}</label>
          </div>
        </div>

        <!-- Hidden input to store the tag -->
        <input type="hidden" name="contact[tags]" id="user-tag" value="newsletter">

        <!-- Email input with submit icon -->
        <div class="relative w-full">
          <input
            class="w-full h-auto px-6 py-4 rounded-xl bg-white border-[0.5px] border-transparent text-black focus:outline-none focus:border-white placeholder:text-gray-500"
            type="email" name="contact[email]" id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="{{ section.settings.placeholder_text }}">

          <!-- Submit Button (as icon) -->
          <button type="submit"
            class="absolute top-1/2 right-6 -translate-y-1/2 w-auto h-auto flex items-center justify-center bg-transparent border-none cursor-pointer">
            {% render 'arrow-left-footer' %}
          </button>
        </div>
        {% endform %}
      </div>

      <!-- social icon block here -->
      <div class="socials-menu-container w-full h-auto pb-14 lg:pb-0">
        <div class="social-links-container flex flex-row gap-x-6 items-center justify-start w-auto h-auto">
          {% for block in section.blocks %}
          {% if block.type == "social-channel" %}
          <div class="social-link-container w-auto h-auto">
            <li class="social-link flex flex-row gap-x-3 items-center justify-start">
              <a href="{{ block.settings.social_url }}">
                <img src="{{ block.settings.social_icon |  img_url: 'master' }}"
                  alt="{{ block.settings.social_icon.alt }}" class="social-image w-5 h-5 object-cover"
                  style="width: 20px; height: 20px">
              </a>
            </li>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- footer menu links container -->
      <div class="footer-menu w-full h-auto lg:py-0">
        <div
          class="footer-menu w-full h-auto flex flex-col gap-y-5 items-start justify-start lg:flex-row lg:gap-x-4 lg:p-0">
          <div class="discover-menu-container w-full h-auto flex flex-col gap-y-5">
            <div
              class="discover-links-container flex flex-col gap-y-4 py-4 items-start justify-center w-full h-auto lg:flex-row lg:items-center lg:justify-start lg:flex-wrap lg:gap-x-10 lg:gap-y-6">
              <div class="w-full h-auto flex flex-wrap items-center gap-x-8 gap-y-4 justify-start lg:gap-x-10">
                {% for link in linklists.main-menu.links %}
                {% if link.title != "Cookie" and link.title != "Privacy" and link.title != "Work
                with us" and link.title != "Press room" %}
                <li class="list-none w-[calc(50%_-_1.5rem)] lg:w-auto">
                  <a class="text-white text-[20px] leading-[26px] tt-norms-pro-reg block text-left"
                    href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </div>
              <div
                class="w-full h-auto flex flex-col items-start justify-center gap-y-2 lg:flex-row lg:items-center lg:justify-start lg:gap-x-10">
                {% for link in linklists.main-menu.links %}
                {% if link.title == "Cookie" or link.title == "Privacy" %}
                <li class="list-none">
                  <a class="text-white text-[14px] leading-[20px] tt-norms-pro-light text-center block underline lg:no-underline"
                    href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="w-full h-auto flex flex-col items-start justify-center py-6">
        <div
          class="w-[155px] h-auto bg-white flex flex-row items-center justify-between rounded-lg gap-x-3 px-4 py-1 cursor-pointer select-language"
          aria-label="Seleziona lingua" data-locale-code="{{ request.locale.iso_code }}">
          <p class="body-16 tt-norms-pro-med lg:text-[18px] lg:leading-[24px]">{{ section.settings.language_text |
            default: "Language" | upcase }}</p>

          <!-- Language Icon -->
          <div class="w-auto h-auto hidden" id="gb-icon" data-locale-code="en">
            {% render 'gb-icon' %}
          </div>
          <div class="w-auto h-auto hidden" id="it-icon" data-locale-code="it">
            {% render 'it-icon' %}
          </div>
        </div>
      </div>

      <div
        class="hidden w-full h-full fixed inset-0 backdrop-blur-lg z-[100] container-form lg:items-center lg:justify-center">
        <div
          class="w-full h-auto absolute right-0 left-0 bottom-0 px-6 pb-6 pt-9 flex flex-col items-center justify-center bg-white rounded-t-[32px] gap-y-6 transition-all duration-150 ease-in content-form translate-y-[1000px] lg:w-[640px] lg:rounded-[32px] lg:relative lg:gap-y-8 lg:p-10">

          <!-- Pulsante per chiudere -->
          <div
            class="icon-content cursor-pointer close-form absolute right-6 top-6 close-locale-form lg:right-10 lg:top-10"
            aria-label="Chiudi">
            {% render 'x-icon' %}
          </div>

          <!-- Titolo -->
          <div class="w-full h-auto flex items-center justify-center lg:justify-start">
            <p class="text-[14px] leading-[20px] tt-norms-pro-med">{{ section.settings.change_language_text | default:
              "Cambia lingua" }} </p>
          </div>

          <!-- Modulo per selezionare la lingua -->
          <div class="w-full h-auto flex flex-col items-start justify-center gap-y-8">
            {% form 'localization', id: 'localization_form_tag', class: "w-full h-auto" %}
            <div class="w-full h-auto flex flex-col items-start justify-center gap-y-4">
              {% for locale in shop.published_locales %}
              <button type="button" tabindex="0" data-locale-code="{{ locale.iso_code }}"
                class="localeCode w-full h-auto px-4 py-3 flex items-center justify-center gap-x-2 text-[14px] leading-[20px] bg-[#F7F7F7] border border-transparent rounded-xl focus:border-black tt-norms-pro-reg ">
                {% case locale.endonym_name %}
                {% when "Italiano" %} Italiano
                {% when "English" %} Inglese
                {% else %}{{ locale.endonym_name }}
                {% endcase %}
                <span class="check-icon">
                  {% render 'check-icon' %}
                </span>
              </button>
              {% endfor %}
            </div>
            <input type="hidden" name="locale_code" value="{{ request.locale.iso_code }}" id="localeCode" />
            {% endform %}
          </div>

          <div class="w-full h-auto">
            <button type="button"
              class="w-full h-auto flex items-center justify-center rounded-xl bg-[#423C3B] text-white py-3 submit-locale tt-norms-pro-reg">
              {{ section.settings.cta_language_text | default: "Conferma selezione" }}
            </button>
          </div>
        </div>
      </div>




    </div>


    <!-- gamma list containers -->
    <div class="w-full h-auto flex items-center justify-start flex-col pb-12 lg:pb-0 lg:w-[calc(50%_-_1.5rem)] lg:px-6">
      <div class="w-full h-auto flex items-center justify-start py-4">
        <p class="text-[32px] leading-[38px] tt-norms-pro-med text-white">{{ section.settings.gamma_title |
          default:"Pardo's range" }}</p>
      </div>
      <div class="w-full h-auto flex items-start justify-center flex-col">
        {% assign collectionOrder = 'walkaround,endurance,gt' | split: ',' %}
        {% for collectionHandle in collectionOrder %}
        {% assign collection = collections[collectionHandle] %}
        {% if collection %}
        <div class="w-full h-auto flex items-start justify-center flex-col overflow-hidden">
          <li class="w-full h-auto flex items-start justify-between py-6">
            <span class="text-[20px] leading-[18px] tt-norms-pro-med text-white">{{ collection.title }}</span>
            <!-- plus icon -->
            <span
              class="w-auto h-auto flex items-center justify-center text-white dropdown-icon transition-all duration-200 ease-in cursor-pointer">
              {% render 'plus-icon' %}
            </span>
          </li>
          <!-- content -->

          <div class="w-full h-auto transition-all duration-200 ease overflow-hidden dropdown-content-gamma">
            <div class="w-full h-auto flex items-start justify-center pt-2 pb-6 gap-y-4 flex-col">
              <div class="w-auto h-auto">
                <p class="body-14 text-white">{{ collection.description | strip_html }}</p>
              </div>
              <div class="w-full h-auto flex items-center justify-start flex-row gap-x-6">
                {% for product in collection.products %}
                <a href="{{ product.url }}">
                  <p class="body-14 text-white tt-norms-pro-med">{{ product.title | replace: "Pardo", "" }}</p>
                </a>
                {% endfor %}
              </div>
              <!-- discover gamma button -->
              <div class="w-full h-auto flex items-center justify-end">
                <a href="{{ collection.url }}">
                  <div class="w-auto h-auto inline-flex cta-choco-round">
                    <p class="text-white body-14">{{ section.settings.cta_gamma | append: ' ' | append: collection.title
                      }}</p>
                  </div>
                </a>
              </div>
            </div>

          </div>

        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="gamma-container w-full h-auto flex items-start justify-center gap-y-12 flex-col lg:gap-y-[60px]">

    <!-- right reserved container + icon pardo -->
    <div class="w-full h-auto flex items-start justify-center flex-col  gap-y-14">

      <!--find delear button-->
      <div class="w-full h-auto flex items-center justify-center">
        <a href="{{ section.settings.page_ref }}">
          <div class="w-auto h-auto inline-flex cta-white-rounded">
            <p class="body-14 tt-norms-pro-med">{{ section.settings.cta_delear | default: "Ask to Pardo" }}</p>
          </div>
        </a>
      </div>

      <!-- pardo logo container -->
      <div class="w-full h-auto flex items-center justify-center pardo-logo">
        <!-- render cantiere logo -->
        {% render 'cantiere-icon' %}
      </div>
      <!-- reserved container -->

      <div
        class="right-reserved-container w-full h-auto flex items-center justify-start md:justify-center lg:w-full lg:flex-grow lg:justify-center">
        <p class="caption text-white text-center tt-norms-pro-reg">{{ section.settings.right_reserved }}</p>
      </div>

    </div>

  </div>

</div>

<!--form success-->
<div class="fixed inset-0 w-full h-screen flex flex-col justify-center items-center hidden backdrop-blur-[40px] z-50 px-6"
  id="success-message">
  <div
    class="w-auto h-auto min-w-[382px] flex flex-col justify-center items-center bg-white rounded-[32px] gap-y-6 p-6">
    <div class="w-full h-auto flex flex-row items-center justify-between">
      <p class="body-14 lg:text-[18px] lg:leading-[24px] tt-norms-pro-med">{{ section.settings.thankyou_message_heading
        | default: 'Subscription to the newsletter' }}</p>
      <div class="w-auto h-auto cursor-pointer" id="closing-pop-up">
        {% render 'x-icon' %}
      </div>
    </div>
    <div class="w-full h-auto flex flex-col justify-center items-center">
      <p class="text-[12px] leading-[18px] lg:text-[18px] lg:leading-[24px] tt-norms-pro-reg">{{
        section.settings.thankyou_message }}</p>
    </div>
  </div>
</div>


<style>
  .rotate-90 {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }

  .localeCode .check-icon {
    display: none;
  }


  .localeCode:focus .check-icon {
    display: inline;
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const radioButtons = document.querySelectorAll('input[name="contact[role]"]');
    const userTag = document.getElementById('user-tag');

    radioButtons.forEach(function (radio) {
      radio.addEventListener('change', function () {
        if (this.checked) {
          userTag.value = `newsletter,${this.value}`;
        }
      });
    });


    //handle language selector
    const languageSelector = document.querySelector('.select-language');
    const currentLocaleCode = languageSelector.getAttribute('data-locale-code');
    handleFlag(currentLocaleCode);

    function setLocaleCode(selectedLocaleCode) {
      const localeCodeInput = document.getElementById('localeCode');
      if (localeCodeInput) {
        localeCodeInput.value = selectedLocaleCode;
        handleFlag(selectedLocaleCode);
      }
    }

    function handleFlag(value) {
      const itIcon = document.getElementById('it-icon');
      const gbIcon = document.getElementById('gb-icon');

      itIcon.classList.add('hidden');
      gbIcon.classList.add('hidden');

      if (value === "it") {
        itIcon.classList.remove('hidden');
      } else if (value === "en") {
        gbIcon.classList.remove('hidden');
      }
    }

    function showLocaleForm(condition) {
      containerLocaleForm.classList.remove('hidden');
      containerLocaleForm.classList.add('fixed');
      contentLocaleForm.classList.remove('translate-y-[1000px]');

      if (condition) {
        containerLocaleForm.classList.add('flex');
        contentLocaleForm.classList.add('static');
        contentLocaleForm.classList.remove('absolute');
      } else {
        containerLocaleForm.classList.remove('flex');
        contentLocaleForm.classList.add('absolute');
        contentLocaleForm.classList.remove('static');
      }
    }

    function hideLocaleForm(condition) {
      containerLocaleForm.classList.add('hidden');
      containerLocaleForm.classList.remove('fixed');
      contentLocaleForm.classList.add('translate-y-[1000px]');

      if (condition) {
        containerLocaleForm.classList.remove('flex');
        contentLocaleForm.classList.remove('static');
        contentLocaleForm.classList.add('absolute');
      } else {
        containerLocaleForm.classList.add('flex');
        contentLocaleForm.classList.remove('absolute');
        contentLocaleForm.classList.add('static');
      }
    }

    const containerLocaleForm = document.querySelector('.container-form');
    const contentLocaleForm = document.querySelector('.content-form');
    const closeLocaleFormIcon = document.querySelector('.close-locale-form');
    const localeButtons = document.querySelectorAll('.localeCode');
    const submitButton = document.querySelector('.submit-locale');
    const languageButton = document.querySelector('.select-language');

    let selectedLocaleCode = null;
    const isDesktop = window.innerWidth >= 1024;

    localeButtons.forEach((button) => {
      button.addEventListener('click', () => {
        selectedLocaleCode = button.getAttribute('data-locale-code');
        setLocaleCode(selectedLocaleCode);
      });
    });

    submitButton.addEventListener('click', () => {
      const form = document.getElementById('localization_form_tag');
      if (form && selectedLocaleCode) {
        form.submit();
        setTimeout(hideLocaleForm, 200);
      } else {
        alert('Seleziona una lingua prima di confermare.');
      }
    });

    languageButton.addEventListener('click', () => {
      showLocaleForm(isDesktop);
    });

    closeLocaleFormIcon.addEventListener('click', () => {
      hideLocaleForm(isDesktop);
    });

    // Handle dropdown
    const dropdownContents = document.querySelectorAll('.dropdown-content-gamma');
    const dropIcons = document.querySelectorAll('.dropdown-icon');

    // Initialize all dropdowns as closed
    dropdownContents.forEach((content) => {
      content.style.height = '0';
      content.style.opacity = '0';
    });

    dropIcons.forEach((icon, index) => {
      icon.addEventListener('click', function () {
        dropdownContents.forEach((content, i) => {
          const isActive = i === index; // Check if the current dropdown is being clicked

          if (isActive) {
            // Toggle the clicked dropdown
            if (content.style.height === '0px' || content.style.height === '0') {
              content.style.height = `${content.scrollHeight}px`;
              content.style.opacity = '1';
              dropIcons[i].classList.add('rotate-90');
            } else {
              content.style.height = '0';
              content.style.opacity = '0';
              dropIcons[i].classList.remove('rotate-90');
            }
          } else {
            // Close all other dropdowns
            content.style.height = '0';
            content.style.opacity = '0';
            dropIcons[i].classList.remove('rotate-90');
          }
        });
      });
    });

    //handle newsletter form after sent
    let isOpenPopUp = false;
    const closePopUp = document.getElementById('closing-pop-up');
    const successMessage = document.getElementById('success-message');
    
    function handleSuccessMessage() {
      const urlParams = new URLSearchParams(window.location.search);

      if (urlParams.get('customer_posted') === 'true') {
        successMessage.classList.remove('hidden');
        document.body.classList.add('no-scroll');
        isOpenPopUp = true;
      }

      setTimeout(() => {
        if (!isOpenPopUp) {
          return
        } else {
          successMessage.classList.add('hidden');
          document.body.classList.remove('no-scroll');
          isOpenPopUp = false;
        }
      }, 5000)
    }

    handleSuccessMessage();

    closePopUp.addEventListener('click', () => {
      successMessage.classList.add('hidden');
      document.body.classList.remove('no-scroll');
      isOpenPopUp = false;
    });


  });

</script>


{% comment %}
Section Schema Settings here;
{% endcomment %}
{% schema %}
{
"name": "footer",
"settings": [
{
"type": "text",
"id": "gamma_title",
"label": "Heading Gamma's range",
"default": "Pardo's range"
},
{
"type": "text",
"id": "section_title",
"label": "Heading",
"default": "Be the first to know"
},
{
"type": "text",
"id": "subheading",
"label": "Subheading",
"default": "Get relevant news from the Pardo world."
},
{
 "type": "url",
 "id": "privacy_policy_redirect",
 "label": "Privacy page link redirect"
},
{
"type": "text",
"id": "thankyou_message_heading",
"label": "Thank you message Heading",
"default": "Subscription to the newsletter"
},
{
"type": "text",
"id": "thankyou_message",
"label": "Thank you message",
"default": "Consult your inbox to confirm subscription to the newsletter."
},
{
"type": "text",
"id": "checkbox_1_label",
"label": "Label Checkbox 1",
"default": "Pardo owner"
}, {
"type": "text",
"id": "checkbox_2_label",
"label": "Label Checkbox 2",
"default": "Visitor"
}, {
"type": "text",
"id": "placeholder_text",
"label": "Placeholder",
"default": "Email"
}, {
"type": "text",
"id": "footer_models_menu",
"label": "Models footer menu",
"default": "Models"
}, {
"type": "text",
"id": "footer_discover_menu",
"label": "Discover footer menu",
"default": "Discover"
}, {
"type": "text",
"id": "footer_socials_menu",
"label": "Socials footer menu",
"default": "Socials"
}, {
"type": "text",
"id": "right_reserved",
"label": "Right Reserved",
"default": "©2024 CANTIERE DEL PARDO S.p.A. • ITALY • P.IVA 03869300404 • Cap. Soc. € 5.261.600,00 i.v. • All Rights Reserved"
}, {
"type": "text",
"id": "cta_gamma",
"label": "Cta gamma",
"default": "Discover",
"info": "Set the cta gamma"
},
{
"type": "text",
"id": "cta_delear",
"label": "Cta delear",
"info": "Cta delear"
},
{
        "type": "url",
        "id": "page_ref",
        "label": "Redirect for a page"
      }
],
"blocks": [
{
"name": "social-channel",
"type": "social-channel",
"settings": [
{
"type": "image_picker",
"id": "social_icon",
"label": "Social Icon"
}, {
"type": "url",
"id": "social_url",
"label": "Social Url"
}
]
}
]
}
{% endschema %}