<div class="footer w-full h-auto px-4 py-10 flex flex-col items-start justify-center bg-[var(--footer-color)]">
  <div class="footer-container w-full h-auto flex flex-col items-start justify-center gap-y-6">
    <div class="newsletter-form w-full h-auto flex flex-col items-start justify-center gap-y-6">
      <!-- form section headings -->
      <div class="newsletter-form-heading w-full h-auto flex flex-col items-start justify-center gap-y-6">
        {% if section.settings.section_title != blank %}
          <label for="Email" class="text-[30px] leading-[30px] font-semibold text-white">{{ section.settings.section_title | escape }}</label>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p class="body-16 text-white">{{ section.settings.subheading | escape }}</p>
        {% endif %}
      </div>
      <!-- form block -->
      {% form 'customer', class: "newsletter-form-style w-full h-auto flex flex-col items-start justify-center gap-y-6" %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="body-16 text-white">{{ section.settings.thankyou_message }}</p>
        {% else %}
          <div class="newsletter-form-radio-containers w-full h-auto flex flex-col items-start justify-center gap-y-3">
            <!-- radio one -->
            <div class="radio-contaier w-full h-auto flex flex-row gap-x-2 items-center justify-start">
              <input
                class="appearance-none w-5 h-5 border-2 border-white rounded-full"
                type="radio"
                id="owner"
                name="contact[role]"
                value="owner">
              <label for="owner" class="body-16  text-white">{{ section.settings.checkbox_1_label }}</label>
            </div>
            <!-- radio two -->
            <div class="radio-contaier w-full h-auto flex flex-row gap-x-2 items-center justify-start">
              <input
                class="appearance-none w-5 h-5 border-2 border-white rounded-full"
                type="radio"
                id="visitor"
                name="contact[role]"
                value="visitor">
              <label for="visitor" class="body-16  text-white">{{ section.settings.checkbox_2_label }}</label>
            </div>
          </div>

          <!-- Hidden input to store the tag -->
          <input
            type="hidden"
            name="contact[tags]"
            id="user-tag"
            value="newsletter">

          <input
            class="w-full h-auto px-3 py-4 rounded-xl bg-[var(--background-color)] text-white"
            type="email"
            name="contact[email]"
            id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="{{ section.settings.placeholder_text }}">

          <div class="cta-primary self-auto bg-white border-none">
            <button
              type="submit"
              name="commit"
              id="Subscribe">{{ section.settings.button_text }}</button>
            {% render 'cta-icon' %}
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
  <div class="footer-menu w-full h-auto flex flex-row items-start justify-between">
    <div class="col-footer-menu w-full h-auto flex flex-col gap-y-5 items-start justify-start">
      <p class="body-16-medium text-[var(--inactive-color)]">{{ section.settings.footer_models_menu | upcase }}</p>
      <div class="gamma-product-container flex flex-col gap-y-3">
        {% for collection in collections %}
          {% for product in collection.products %}
            {% if product %}
              <li class="product-list-item body-16 w-full h-auto list-none">
                <a class="text-white" href="{{ product.url }}">{{ product.title | replace: "Pardo", "" }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="col-footer-menu w-full h-auto flex flex-col gap-y-5 items-start justify-start">
      <div class="discover-menu-container w-full h-auto flex flex-col gap-y-5">
        <p class="body-16-medium text-[var(--inactive-color)]">{{ section.settings.footer_discover_menu | upcase }}</p>
        <div class="discover-links-container flex flex-col gap-y-3 items-start justify-center w-full h-auto">
          {% for link in linklists.discover.links %}
            <li class="list-none ">
              <a class="text-white" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </div>
      </div>
      <div class="socials-menu-container w-full h-auto flex flex-col gap-y-5">
        <p class="body-16-medium text-[var(--inactive-color)]">{{ section.settings.footer_socials_menu | upcase }}</p>
      </div>
    </div>
  </div>
</div>

<style>
  .radio-container input[type="radio"]:checked {
    background-color: white;
  }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const radioButtons = document.querySelectorAll('input[name="contact[role]"]');
        const userTag = document.getElementById('user-tag');

        radioButtons.forEach(function (radio) {
            radio.addEventListener('change', function () {
                if (this.checked) {
                    userTag.value = `newsletter,${this.value}`;
                }
            });
        });
    });
</script>


{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading",
      "default": "Stay Updated"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Get relevant news from the Pardo world sent to your email."
    },
    {
      "type": "text",
      "id": "thankyou_message",
      "label": "Thank you message",
      "default": "Thank you you are on board now!"
    },
    {
      "type": "text",
      "id": "checkbox_1_label",
      "label": "Label Checkbox 1",
      "default": "Pardo owner"
    }, {
      "type": "text",
      "id": "checkbox_2_label",
      "label": "Label Checkbox 2",
      "default": "Visitor"
    }, {
      "type": "text",
      "id": "placeholder_text",
      "label": "Placeholder",
      "default": "Email"
    }, {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Come on board"
    }, {
      "type": "text",
      "id": "footer_models_menu",
      "label": "Models footer menu",
      "default": "Models"
    }, {
      "type": "text",
      "id": "footer_discover_menu",
      "label": "Discover footer menu",
      "default": "Discover"
    }, {
      "type": "text",
      "id": "footer_socials_menu",
      "label": "Socials footer menu",
      "default": "Socials"
    }
  ]
}
{% endschema %}

