<!--overlay content-->
<div class="overlay-gallery-pdp hidden fixed z-50 inset-0 w-full h-svh lg:h-screen">

    <!-- container-closing-icon -->
    <div
        class="w-auto h-auto text-white rounded-full flex items-center justify-center p-3 absolute right-4 top-6 close-overlay-gallery-images bg-[rgba(0,0,0,0.20)] backdrop-blur-xl z-50 cursor-pointer">
        {% render 'x-icon' %}
    </div>

    <!-- Swiper wrapper container -->
    <div class="swiper swiper-container-gallery-pdp transition-all duration-200 ease-linear relative">

        <!-- swiper wrapper slides-->
        <div class="swiper-wrapper">

            <!--each slides-->
            <!-- assign variables -->
            {% for image in product.images %}
            {% if forloop.index > 1 %}
            <div class="swiper-slide relative h-svh">
                <img src="{{ image | img_url: 'master' }}" alt="Slide {{ forloop.index }}"
                    class="swiper-img w-full h-full object-cover">
            </div>
            {% endif %}
            {% endfor %}

        </div>

        <!-- Container swiper bullets -->
        <div
            class="container-swiper-pagination w-full h-auto absolute left-0 right-0 bottom-6 z-10 flex items-start justify-center">
            <!-- Container bullets -->
            <div class="w-auto h-auto">
                <div class="swiper-pagination-gallery-pdp"></div>
            </div>
        </div>

        <!-- Container turn into landspace -->
        <div class="w-full h-auto flex items-center justify-center absolute left-0 right-0 bottom-[46px] lg:hidden">
            <div
                class="w-auto h-auto min-w-[1480x] min-h-[32px] bg-[rgba(0,0,0,0.20)] backdrop-blur-xl rounded-3xl py-2 px-4 z-20 turn-gallery-button">
                <p class="body-14 tt-norms-pro-med text-white">{{ section.settings.turn_landscape | default: "Turn into
                    landscape" }}</p>
            </div>
        </div>

        <div class="w-auto h-auto hidden lg:block">
            <div
                class="swiper-button-next-gallery-pdp bg-[rgba(0,0,0,0.20)] backdrop-blur-xl w-[52px] h-[52px] rounded-full text-white  mr-10">
            </div>
        </div>
        <div class="w-auto h-auto hidden lg:block">

            <div
                class="swiper-button-prev-gallery-pdp bg-[rgba(0,0,0,0.20)] backdrop-blur-xl w-[52px] h-[52px] rounded-full text-white  ml-10">
            </div>
        </div>
    </div>


</div>

<!--gallery pdp section-->
<div class="w-full h-[540px] min-h-[540px] relative lg:h-[860px]" id="Gallery">
    <div class="wrapper-slider w-full h-full absolute overflow-x-hidden left-0 top-0 right-0 z-0">

        <!-- Swiper slider start here -->
        <div class="swiper mySwiper w-full h-full relative">
            <div class="swiper-wrapper">

                <!-- assign variables -->
                {% for image in product.images %}
                {% if forloop.index > 1 %}
                <div class="swiper-slide relative">
                    <img src="{{ image | img_url: 'master' }}" alt="Slide {{ forloop.index }}"
                        class="swiper-img w-full h-full object-cover gallery-pdp-images">
                </div>
                {% endif %}
                {% endfor %}

            </div>

            <!-- Container swiper bullets -->
            <div
                class="container-swiper-pagination w-full h-auto absolute left-0 right-0 bottom-6 z-10 flex items-start justify-center">
                <!-- Container bullets -->
                <div class="w-auto h-auto">
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="w-auto h-auto hidden lg:block">
                <div
                    class="swiper-button-next bg-[rgba(0,0,0,0.20)] backdrop-blur-xl w-[52px] h-[52px] rounded-full text-white  mr-10">
                </div>
            </div>
            <div class="w-auto h-auto hidden lg:block">

                <div
                    class="swiper-button-prev bg-[rgba(0,0,0,0.20)] backdrop-blur-xl w-[52px] h-[52px] rounded-full text-white  ml-10">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Initialize Swiper -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let swiperGallery = null;
        const galleryPdpImages = document.querySelectorAll('.gallery-pdp-images');
        const overlayGallery = document.querySelector('.overlay-gallery-pdp');
        const closeOverlayGallery = document.querySelector('.close-overlay-gallery-images');

        if (galleryPdpImages.length > 0) {
            galleryPdpImages.forEach((image) => {
                image.addEventListener('click', function () {
                    if (overlayGallery) {
                        overlayGallery.classList.remove('hidden');
                        document.body.classList.add('no-scroll');
                    }

                    if (swiperGallery) {
                        swiperGallery.destroy(true, true);
                    }

                    swiperGallery = new Swiper(".swiper-container-gallery-pdp", {
                        pagination: {
                            el: ".swiper-pagination-gallery-pdp",
                            clickable: true
                        },
                        navigation: {
                            nextEl: ".swiper-button-next-gallery-pdp",
                            prevEl: ".swiper-button-prev-gallery-pdp"
                        },
                        loop: true,
                    });
                });
            });
        }

        if (closeOverlayGallery) {
            closeOverlayGallery.addEventListener('click', function () {
                if (overlayGallery) {
                    overlayGallery.classList.add('hidden');
                    document.body.classList.remove('no-scroll');
                }

                if (swiperGallery) {
                    swiperGallery.destroy(true, true);
                    swiperGallery = null;
                }
            });
        }

        var swiperMain = new Swiper(".mySwiper", {
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            loop: true,
        });

        function handleOrientationGalleryPdp() {
            const turnGalleryPdpButton = document.querySelector('.turn-gallery-button');

            if (window.matchMedia("(orientation: landscape)").matches) {
                if (turnGalleryPdpButton) {
                    turnGalleryPdpButton.classList.add('hidden');
                }
            } else {
                if (turnGalleryPdpButton) {
                    turnGalleryPdpButton.classList.remove('hidden');
                }
            }
        }

        window.addEventListener('resize', handleOrientationGalleryPdp);
        handleOrientationGalleryPdp();
    });

</script>

<!-- Swiper Custom Style -->
<style>
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 24px !important;
        height: 2px !important;
        border-radius: 2px !important;
        background-color: white !important;
    }

    .swiper-pagination-bullet {
        width: 8px !important;
        height: 2px !important;
        border-radius: 2px !important;
        background-color: white !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 14px;
    }
</style>