<!--gamma section new -->
<div class="w-full h-auto px-6 py-14 bg-[#A9A09E] overflow-x-hidden">
    <div class="w-full h-auto flex flex-col items-start justify-center gap-y-6">
        <div class="w-full h-auto flex flex-col items-start justify-center gap-y-10">

            <!-- tab wrapper -->
            <div class="w-full h-auto flex flex-row items-center justify-center gap-x-6 relative">
                {% assign sorted_collections = collections | sort: 'published_at' %}
                {% for collection in sorted_collections %}
                {% if collection.title != "Pardo approved" %}
                <div class="w-auto min-w-[99px] h-auto tab-gamma" id="{{ collection.title }}">
                    <p class="header-1 satoshi">{{ collection.title | capitalize }}</p>
                </div>
                {% endif %}
                {% endfor %}
                <!-- union icon -->
                <div class="union-icon w-auto h-auto absolute transition-all duration-200 ease-in -top-4 left-1/2 -translate-x-1/2">
                    {% render 'union-icon' %}
                </div>
            </div>

            <!-- model wrapper -->
            {% for collection in sorted_collections %}
            {% if collection.title != "Pardo approved" %}
            <div class="magnetic-scroll gamma-scroll w-auto h-auto overflow-x-auto scroll-smooth flex flex-row justify-start items-center snap-x snap-mandatory" data-collection="{{ collection.title }}" style="display: none;">
                {% for product in collection.products %}
                {% assign product_images = product.images %}
                {% if product_images.size > 0 %}
                {% assign model_image = product_images[0] %}
                <div class="image-scroll w-[320px] h-[147px] flex-shrink-0 flex flex-col items-center justify-center snap-start relative" data-collection="{{ collection.title }}">
                    <img class="w-full h-full object-contain pImage z-10" src="{{ model_image | img_url: 'master' }}" alt="{{ model_image.alt }}">
                    <p class="big-header-1 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-[120%] z-0">{{ product.title | replace: 'Pardo', '' }}</p>
                </div>
                {% endif %}
                {% endfor %}
                <div class="w-full h-[240px] flex-shrink-0 flex "></div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    <!--title + buttons-->
    
</div>

<script>
   document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll('.tab-gamma');
    const gammaScrolls = document.querySelectorAll('.gamma-scroll');
    const unionIcon = document.querySelector('.union-icon');

    // Aggiungi un event listener a ogni tab
    tabs.forEach(tab => {
        tab.addEventListener('click', function () {
            const collectionId = tab.id;

            // Nascondi tutti i gamma-scroll
            gammaScrolls.forEach(container => {
                container.style.display = 'none';
            });

            // Mostra solo il gamma-scroll corrispondente alla collezione selezionata
            gammaScrolls.forEach(container => {
                const scrollCollection = container.getAttribute('data-collection');
                if (scrollCollection === collectionId) {
                    container.style.display = 'flex';
                }
            });

            // Aggiorna lo stile del tab attivo
            tabs.forEach(t => t.classList.remove('active-tab'));
            tab.classList.add('active-tab');

            // Calcola la posizione della tab attiva
            const tabRect = tab.getBoundingClientRect();
            const wrapperRect = tab.parentElement.getBoundingClientRect();
            const iconOffset = wrapperRect.left + (tabRect.left + tab.offsetWidth / 2 - unionIcon.offsetWidth / 2);

            // Sposta l'icona
            if (unionIcon.offsetWidth) {
                unionIcon.style.left = `${iconOffset}px`;
            }
        });
    });

    // Mostra i prodotti della prima collezione e posiziona l'icona all'avvio
    if (tabs.length > 0) {
        tabs[0].click();
    }
});
</script>
