<!--info pdp section-->
<div class="w-full h-auto flex items-start justify-center flex-col">
    <!--product title container-->
    <div class="w-full h-auto flex items-center justify-start px-6 pt-10">
        <h1 class="text-[64px] leading-[56px] tt-norms-pro-light">{{ product.title }}</h1>
    </div>
    <!--product info box container-->
    <!-- Product details section -->
    <div class="w-full h-auto overflow-x-hidden">
        <div
            class="product-details-component w-full h-auto px-6 flex flex-col gap-y-2 mb-[40px] lg:border-t-0 lg:w-1/3 lg:px-0 lg:mt-14 lg:gap-y-10">
            <!--box container -->
            <div
                class="product-details-magnetic-scroll w-[calc(100%+4rem)] px-6 -mx-6 py-6 h-auto flex flex-row items-center justify-start gap-x-3 overflow-x-auto lg:w-[calc(100%+5rem)] lg:px-10 lg:-mx-10">
                {% assign productMetafieldsValues = 'top_speed,lenght,dry_weight' | split: ',' %}
                {% for productMetafieldsValue in productMetafieldsValues %}
                {% assign metafieldCustom = product.metafields.custom[productMetafieldsValue].value %}
                <div
                    class="product-details-badge flex min-w-[127px] h-auto p-4 flex-col items-center justify-center gap-y-1 rounded-xl bg-[#EFEEED] flex-shrink-0 lg:h-[100px] lg:flex-1">
                    <p class="body-14 text-nowrap">{{ metafieldCustom }}</p>
                    <p class="body-12 text-[var(--hover-color)]">{{ productMetafieldsValue | replace: '_', ' ' | upcase
                        }}
                    </p>
                </div>
                {% endfor %}
            </div>

            <!--product description container -->
            <div
                class="product-detaiils-component-main w-full h-auto pt-4 pb-6 flex flex-col gap-y-2 items-start justify-start">
                {% if product.description and product.description != '' %}
                <p class="body-14">{{ product.description | raw }}</p>
                {% endif %}
            </div>

            <!--emotional text container-->
            <div class="w-full h-auto flex items-center justify-center px-6 py-14">
                <p class="text-[32px] leading-[38px] tt-norms-pro-light text-center text-balance">{{
                    section.settings.ispirational_text |
                    default: "Lorem ipsum dolor sit,
                    consectutor adipis mar tiss partiem." }}</p>
            </div>

            <!--product cta container-->
            <div
                class="product-details-cta w-full h-auto flex flex-col items-center justify-start gap-y-3 lg:flex-row lg:gap-x-3">
                <div class="cta-choco lg:w-[220px] h-[48px] min-h-[48px] lg:px-4 lg:py-2">
                    <p class="body-14-medium">{{ section.settings.cta_delear | default: "Find a delear" }}</p>
                </div>
                <div class="cta-transparent h-[48px] min-h-[48px] lg:w-[220px]  lg:px-4 lg:py-2 cta-brochure">
                    <p class="body-14-medium">{{ section.settings.cta_brochure | default: "Get the brochure" }}</p>
                    {% render 'download-icon' %}
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Form Container -->
<div id="form-container"
    class="form-container fixed bottom-0 left-0 w-full h-auto bg-white p-6 rounded-t-lg shadow-custom z-50 translate-y-full transition-transform duration-300 ease-in-out">
    <div class="wrapper-form-appointment w-full flex flex-col gap-y-6 mx-auto lg:w-[640px] lg:max-h-[600px]">

        <!-- Form Header -->
        <div class="form-appointment-headers w-full flex items-center justify-between relative">
            <p class="body-14-medium events-name">{{ section.settings.form_title | default: "Get the brochure" }}</p>

            <!-- Close Icon -->
            <div class="icon-content cursor-pointer close-form">
                {% render 'x-icon' %}
            </div>
        </div>

        <!-- Form Content -->

        {% form 'customer', class: "flex flex-col items-start justify-center gap-y-6" %}

        {% if form.posted_successfully? %}
            <div class="w-full h-[60px] fixed left-0 right-0 bottom-0 bg-white">
                <p class="body-16 text-white">{{ section.settings.thankyou_message | default: "Richiesta brochure avvenuta" }}</p>
            </div>
        {% else %}
        
        <!-- Form Errors -->
        {{ form.errors | default_errors }}
        <div class="w-full h-auto flex flex-col items-start justify-center gap-y-3">
            <!-- First Name -->
            <div class="form-group w-full">
                <input type="text" name="contact[first_name]"
                    class=" w-full p-3 rounded-lg bg-[var(--primary-background-color)] border-[0.5px] border-transparent focus:outline-none focus:border-transparent placeholder:body-14 placeholder:text-black"
                    value="{% if form.first_name != blank %}{{ form.first_name }}{% endif %}"
                    placeholder="{{ section.settings.first_name_placeholder |  default: " Name" }}" required>
            </div>

            <!-- Last Name -->
            <div class="form-group w-full">
                <input type="text" name="contact[last_name]"
                    class=" w-full p-3  rounded-lg bg-[var(--primary-background-color)] border-[0.5px] border-transparent focus:outline-none focus:border-transparent placeholder:body-14 placeholder:text-black"
                    value="{% if form.last_name != blank %}{{ form.last_name }}{% endif %}"
                    placeholder="{{ section.settings.last_name_placeholder |  default: " Last name" }}" required>
            </div>

            <!-- Email -->
            <div class="form-group w-full">
                <input type="email" name="contact[email]"
                    class=" w-full p-3  rounded-lg bg-[var(--primary-background-color)] border-[0.5px] border-transparent focus:outline-none focus:border-transparent placeholder:body-14 placeholder:text-black"
                    value="{% if form.email != blank %}{{ form.email }}{% endif %}"
                    placeholder="{{ section.settings.email_placeholder |  default: " Email" }}" required>
            </div>
        </div>


        <!--container checkbox-->
        <div class="w-full h-auto flex flex-col items-start justify-center gap-y-3">
            <!-- Marketing Consent Checkbox -->
            <div class="form-group w-full flex items-center gap-2">
                <input type="checkbox" id="marketingConsent" name="contact[marketing_consent]"
                    class="w-5 h-5 border-transparent rounded-md focus:ring-black">
                <label for="marketingConsent">
                    {{ section.settings.marketing_consent_label | default: "Direct Marketing" }}
                </label>
            </div>

            <!-- Profiling Consent Checkbox -->
            <div class="form-group w-full flex items-center gap-2">
                <input type="checkbox" id="profilingConsent" name="contact[profiling_consent]"
                    class="w-5 h-5 border-transparent rounded-md focus:ring-black">
                <label for="profilingConsent">
                    {{ section.settings.profiling_consent_label | default: "Profilazione" }}
                </label>
            </div>

        </div>
        <!-- Hidden Input for Brochure Tag -->
        <input type="hidden" name="contact[tags]" id="additionalTags" value="brochure">

        <!-- Submit Button -->
        <div class="cta-transparent w-full flex items-center justify-center">
            <button type="submit" id="Subscribe" class="px-6 py-3">
                {{ section.settings.submit_button | default: "Get the brochure" }}
            </button>
        </div>
          {% endif %}
        {% endform %}

    </div>
</div>



<style>
    body.no-scroll {
        overflow: hidden;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctaBrochure = document.querySelectorAll('.cta-brochure');
        const formContainer = document.getElementById('form-container');
        const overlay = document.getElementById('overlay');
        const closeForm = document.querySelector('.close-form');

        // Open form logic
        ctaBrochure.forEach(cta => {
            cta.addEventListener('click', function (e) {
                e.preventDefault();

                // Show the form and overlay
                formContainer.classList.remove('translate-y-full');
                formContainer.classList.add('translate-y-0');
                overlay.classList.remove('hidden');
                document.body.classList.add('no-scroll');
            });
        });

        // Close form logic
        closeForm.addEventListener('click', function () {
            // Hide the form and overlay
            formContainer.classList.remove('translate-y-0');
            formContainer.classList.add('translate-y-full');
            overlay.classList.add('hidden');
            document.body.classList.remove('no-scroll');
        });

        const marketingCheckbox = document.getElementById('marketingConsent');
        const profilingCheckbox = document.getElementById('profilingConsent');
        const additionalTagsInput = document.getElementById('additionalTags');

        // Funzione per aggiornare i tag
        const updateTags = () => {
            const tags = ['brochure']; // Tag statico
            if (marketingCheckbox.checked) tags.push('marketing');
            if (profilingCheckbox.checked) tags.push('profilazione');
            additionalTagsInput.value = tags.join(',');
        };

        // Event listener per i checkbox
        marketingCheckbox.addEventListener('change', updateTags);
        profilingCheckbox.addEventListener('change', updateTags);

        // Inizializza i tag al caricamento
        updateTags();

    });
</script>