<!--our values top page section-->
<div class="our-values-top w-full h-auto flex flex-col gap-y-6 items-start justify-center p-4  mb-10 relative overflow-x-hidden">
  <h2 class="header-2 lg:hidden">{{ section.settings.section_heading }}</h2>
  <p class="body-12 text-[var(--hover-accent-color)] lg:hidden">{{ section.settings.section_content }}</p>

  <!-- arrow box -->
  <div class="w-full h-auto hidden lg:flex lg:justify-end lg:gap-x-2">
    <button id="prevArrowTop" class="carousel-arrow left-arrow flex items-center justify-center w-10 h-10 rounded-full border border-black text-white">
      {% render 'arrow-left-icon' %}
    </button>
    <button id="nextArrowTop" class="carousel-arrow right-arrow flex items-center justify-center w-10 h-10 rounded-full border border-black text-white">
      {% render 'arrow-right-icon' %}
    </button>
  </div>

  
  <div class="our-values-top-scrolling w-[calc(100%+2rem)] px-4 -mx-4 h-auto flex flex-row items-start justify-start gap-x-3 overflow-x-auto lg:p-1 lg:w-[calc(100%+5rem)] lg:px-10 lg:-mx-10">
    {% for block in section.blocks %}
      <div class="container-scroll-image w-auto h-auto">
        {% if block.type == "scroll-image" %}
          <img
            src="{{ block.settings.scroll_image | img_url: 'master' }}"
            alt="{{ block.settings.scroll_image.alt }}"
            class="w-[313px] min-w-[313px] h-[210px] object-cover object-center rounded-md">
        {% endif %}
        
        {% if block.type == "scroll-white-block" %}
          <div class="scroll-white-block hidden lg:flex lg:w-[313px] lg:min-w-[313px] lg:h-[210px] lg:rounded-md lg:shadow-custom lg:flex-col lg:gap-y-4 lg:items-start lg:justify-center lg:bg-white lg:p-4">
            <h2 class="header-2 lg:header-3">{{ block.settings.scroll_white_block_heading }}</h2>
            <p class="body-12 text-[var(--hover-accent-color)]">{{ block.settings.scroll_white_block_content }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
  const prevArrowTop = document.getElementById('prevArrowTop');
  const nextArrowTop = document.getElementById('nextArrowTop');
  const scrollContainerTop = document.querySelector('.container-scroll-image');
  const images = Array.from(scrollContainerTop.querySelectorAll('img'));

  if (images.length > 1) {
    const firstImage = images[0];
    const secondImage = images[1];

    const firstImageLeft = firstImage.offsetLeft;
    const secondImageLeft = secondImage.offsetLeft;
    const scrollAmount = secondImageLeft - firstImageLeft;

    function updateArrows() {
      const currentScrollLeft = scrollContainerTop.scrollLeft;
      const maxScrollLeft = scrollContainerTop.scrollWidth - scrollContainer.clientWidth;

      prevArrowTop.classList.toggle('disabled', currentScrollLeft === 0);
      nextArrowTop.classList.toggle('disabled', currentScrollLeft >= maxScrollLeft);
    }

    function scrollContainerBy(amount) {
      const currentScrollLeft = scrollContainerTop.scrollLeft;
      const maxScrollLeft = scrollContainerTop.scrollWidth - scrollContainer.clientWidth;

      let newScrollLeft = currentScrollLeft + amount;

      if (newScrollLeft < 0) {
        newScrollLeft = 0;
      } else if (newScrollLeft > maxScrollLeft) {
        newScrollLeft = maxScrollLeft;
      }

      scrollContainerTop.scrollTo({
        left: newScrollLeft,
        behavior: 'smooth'
      });

      setTimeout(updateArrows, 300);
    }

    if (prevArrowTop && nextArrowTop && scrollContainerTop) {
      prevArrowTop.addEventListener('click', function() {
        scrollContainerBy(-scrollAmount);
      });

      nextArrowTop.addEventListener('click', function() {
        scrollContainerBy(scrollAmount);
      });

      updateArrows();
      scrollContainerTop.addEventListener('scroll', updateArrows);
    }
  }
});
</script>


{% schema %}
{
  "name": "our-values",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "default": "A different Story",
      "label": "Section Heading"
    },
    {
      "type": "textarea",
      "id": "section_content",
      "default": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
      "label": "Section Content"
    }
  ],
  "blocks": [
    {
      "name": "scroll-image-block",
      "type": "scroll-image",
      "settings": [
        {
          "type": "image_picker",
          "id": "scroll_image",
          "label": "Scroll Image"
        }
      ]
    },
    {
      "name": "scroll-white-block",
      "type": "scroll-white-block",
      "settings": [
        {
          "type": "text",
          "id": "scroll_white_block_heading",
          "default": "A different Story",
          "label": "Scroll block Heading"
        },
        {
          "type": "textarea",
          "id": "scroll_white_block_content",
          "default": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
          "label": "Scroll block Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Values Top",
      "category": "Custom",
      "settings": {
        "section_heading": "A Different Story",
        "section_content": "We believe in craftsmanship, sustainability, and the finest materials for our products."
      },
      "blocks": [
        {
          "type": "scroll-image",
          "settings": {
            "scroll_image": "shopify:\/\/shop_images\/image_18.png"
          }
        },
        {
          "type": "scroll-image",
          "settings": {
            "scroll_image": "shopify:\/\/shop_images\/image_18.png"
          }
        },
        {
          "type": "scroll-image",
          "settings": {
            "scroll_image": "shopify:\/\/shop_images\/image_18.png"
          }
        }
      ]
    }
  ]
}
{% endschema %}
