<!--overview-pdp-->
<div class="w-full h-auto flex items-center justify-center fixed z-10 left-0 bottom-8 right-0">
    <!--container fab pdp-->
    <div
        class="w-[120px] h-[40px] flex flex-col items-center justify-center px-6 py-[10px] rounded-full bg-[rgba(0,0,0,0.20)] backdrop-blur-xl badge-overlay cursor-pointer">
        <p class="body-16 text-white">{{ section.settings.cta_text | default: "Overview" }}</p>
    </div>

</div>


<!--container nav items-->
<div
    class="container-ancor-links w-full h-auto fixed left-0 bottom-0 right-0 flex flex-col items-center justify-center z-30 py-8 bg-[rgba(0,0,0,0.20)] backdrop-blur-lg rounded-t-lg gap-y-8 translate-y-[1000px] transition-all duration-200 ease container-ancor-links lg:w-[430px] lg:justify-start lg:h-[314px] lg:rounded-[32px] lg:fixed lg:hidden lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:gap-y-0 lg:px-0 lg:py-0">
    <ul class="w-full h-full flex flex-col items-center justify-center gap-y-6">
        <p class="body-16 text-white font-light lg:text-[18px] lg:leading-[24px]">{{ section.settings.overlay_main |
            default: "Overview" | upcase }}</p>

        <div class="w-full h-auto flex flex-col items-center justify-center gap-y-4">
            <div class="w-full h-auto flex items-center justify-center">
                <a href="#design" class="ancor-link">
                    <li class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{ section.settings.item_one |
                        default: "Design" }}</li>
                </a>
            </div>

            <div class="w-full h-auto flex items-center justify-center">
                <a href="#Topview" class="ancor-link">
                    <li class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{ section.settings.item_one |
                        default: "Top view" }}</li>
                </a>
            </div>

            <div class="w-full h-auto flex items-center justify-center">
                <a href="#Tech" class="ancor-link">
                    <li class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{ section.settings.item_one |
                        default: "Technical feature" }}</li>
                </a>
            </div>

            <div class="w-full h-auto flex items-center justify-center">
                <a href="#General" class="ancor-link">
                    <li class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{ section.settings.item_one |
                        default: "General Arrangment" }}</li>
                </a>
            </div>

            <div class="w-full h-auto flex items-center justify-center">
                <a href="#Gallery" class="ancor-link">
                    <li class="body-16 text-white lg:text-[18px] lg:leading-[24px]">{{ section.settings.item_one |
                        default: "Gallery" }}</li>
                </a>
            </div>
        </div>

    </ul>
    <div
        class="w-full h-auto flex items-center justify-center cursor-pointer text-white closing-icon lg:absolute lg:right-0 lg:top-0 lg:left-0 lg:pr-6 lg:pt-6 lg:justify-end lg:inline-flex lg:z-30">
        {% render 'x-icon' %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const containerLinks = document.querySelector('.container-ancor-links');
        const closingIcon = document.querySelector('.closing-icon');
        const badgeOverlay = document.querySelector('.badge-overlay');
        const allLinks = document.querySelectorAll('.ancor-link'); // Seleziona tutti i link all'interno del menu

        const openMenu = () => {
            if (window.innerWidth >= 1024) {
                containerLinks.classList.remove('lg:hidden');
            } else {
                containerLinks.classList.remove('translate-y-[1000px]');
            }
            badgeOverlay.classList.add('hidden');
            document.addEventListener('click', handleOutsideClick);
        };

        const closeMenu = () => {
            if (window.innerWidth >= 1024) {
                containerLinks.classList.add('lg:hidden');
            } else {
                containerLinks.classList.add('translate-y-[1000px]');
            }
            badgeOverlay.classList.remove('hidden');
            document.removeEventListener('click', handleOutsideClick);
        };

        const handleOutsideClick = (event) => {
            if (!containerLinks.contains(event.target) && !badgeOverlay.contains(event.target)) {
                closeMenu();
            }
        };

        badgeOverlay.addEventListener('click', openMenu);
        closingIcon.addEventListener('click', closeMenu);

        allLinks.forEach((link) => {
            link.addEventListener('click', closeMenu);
        });
    });

</script>