<!--pardo care container -->
<div class="pardo-care-container w-full h-auto flex flex-col gap-y-8 relative mb-10 overflow-x-hidden p-4 lg:px-10">

  <div class="pardo-care-container-heading w-full h-auto flex flex-col gap-y-6 items-start justify-center ">
    <h2 class="header-2">{{ section.settings.section_heading }}</h2>
    <p class="body-12 lg:hidden">{{ section.settings.section_sub_heading }}</p>
  </div>

  <!-- arrows box -->
  <div class="w-full h-auto hidden lg:flex lg:justify-end lg:gap-x-2 lg:absolute lg:right-[40px] lg:top-[16px]">
    <button id="prevArrow" class="carousel-arrow left-arrow flex items-center justify-center w-10 h-10 rounded-full border border-black text-white">
      {% render 'arrow-left-icon' %}
    </button>
    <button id="nextArrow" class="carousel-arrow right-arrow flex items-center justify-center w-10 h-10 rounded-full border border-black text-white">
      {% render 'arrow-right-icon' %}
    </button>
  </div>

  <div class="pardo-care-container-film-strip w-full h-auto">
    <div id="filmstrip" class="container-film-strip w-full h-auto flex flex-row items-start justify-start gap-x-3 overflow-x-auto">
      {% for block in section.blocks %}
        {% if block.type == 'scroll-image-card' %}
          <div class="container-filmstrip-card w-auto h-auto max-h-[423px] flex flex-col gap-y-2 last-of-type:pr-8">
            <img
              src="{{ block.settings.card_image |  img_url: 'master' }}"
              alt="{{ block.settings.card_image.alt }}"
              class="card-image w-[320px] h-[320px] min-w-[320px] object-cover object-center rounded-md lg:w-[343px] lg:h-[343px]">
            <p class="body-14-medium">{{ block.settings.card_title }}</p>
            <p class="body-12 text-[var(--accent-hover-color)]">{{ block.settings.card_text }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <a href="pages/contacts" class="p-4">
    <div class="pardo-care-content-cta w-full h-auto flex items-start justify-center lg:mt-0">
      <div class="cta-primary w-full lg:w-[343px]">
        <p class="body-14">{{ section.settings.cta_text}}</p>
      </div>
    </div>
  </a>

</div>

<style>
  .carousel-arrow.disabled {
  opacity: 0.5;
  pointer-events: none; 
}

.carousel-arrow:not(.disabled) {
  opacity: 1;
  pointer-events: auto; 
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const prevArrow = document.getElementById('prevArrow');
  const nextArrow = document.getElementById('nextArrow');
  const scrollContainer = document.querySelector('.container-film-strip');
  const images = Array.from(scrollContainer.querySelectorAll('img'));

  if (images.length > 1) {
    const firstImage = images[0];
    const secondImage = images[1];

    const firstImageLeft = firstImage.offsetLeft;
    const secondImageLeft = secondImage.offsetLeft;
    const scrollAmount = secondImageLeft - firstImageLeft;

    function updateArrows() {
      const currentScrollLeft = scrollContainer.scrollLeft;
      const maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;

      prevArrow.classList.toggle('disabled', currentScrollLeft === 0);
      nextArrow.classList.toggle('disabled', currentScrollLeft >= maxScrollLeft);
    }

    function scrollContainerBy(amount) {
      const currentScrollLeft = scrollContainer.scrollLeft;
      const maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;

      let newScrollLeft = currentScrollLeft + amount;

      if (newScrollLeft < 0) {
        newScrollLeft = 0;
      } else if (newScrollLeft > maxScrollLeft) {
        newScrollLeft = maxScrollLeft;
      }

      scrollContainer.scrollTo({
        left: newScrollLeft,
        behavior: 'smooth'
      });

      setTimeout(updateArrows, 300);
    }

    if (prevArrow && nextArrow && scrollContainer) {
      prevArrow.addEventListener('click', function() {
        scrollContainerBy(-scrollAmount);
      });

      nextArrow.addEventListener('click', function() {
        scrollContainerBy(scrollAmount);
      });

      updateArrows();
      scrollContainer.addEventListener('scroll', updateArrows);
    }
  }
});
</script>



{% schema %}
  {
    "name": "pardo-care-section",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "default": "Premium care services",
        "label": "Section Heading"
      }, {
        "type": "text",
        "id": "section_sub_heading",
        "default": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
        "label": "Section Subheading"
      }, {
        "type": "text",
        "id": "cta_text",
        "default": "Contattaci",
        "label": "Cta Text"
      }
    ],
    "blocks": [
      {
        "name": "scroll-image-card",
        "type": "scroll-image-card",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
          }, {
            "type": "text",
            "id": "card_title",
            "default": "Al vostro fianco, dall'inizio",
            "label": "Card title"
          }, {
            "type": "textarea",
            "id": "card_text",
            "default": "Accompagniamo i nostri clienti in un viaggio a 360°, dalla selezione alla personalizzazione delle loro imbarcazioni.",
            "label": "Card Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "scroll-image-card",
        "category": "custom",
        "settings": {
          "section_heading": "Premium care services",
          "section_sub_heading": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
          "cta_text": "Contattaci"
        },
        "blocks": [
          {
            "type": "scroll-image-card",
            "settings": {
              "card_image": "shopify:\/\/shop_images\/image_7.png",
              "card_title": "Al vostro fianco, dall'inizio",
              "card_text": "Accompagniamo i nostri clienti in un viaggio a 360°, dalla selezione alla personalizzazione delle loro imbarcazioni."
            }
          }
        ]
      }
    ]
  }
{% endschema %}