<!-- product approved features -->
<div class="product-features-wrapper w-full h-auto flex flex-col items-start justify-center mb-10 md:px-12 md:mb-20 lg:px-20 lg:pt-[60px] lg:mb-[120px]">
  <div class="product-features-wrapper-content w-full h-auto flex flex-col items-start justify-center gap-y-10 p-4 md:p-0 lg:p-0 lg:gap-y-[60px]">


    <div class="product-features-wrapper-content-heading w-full h-auto flex items-center justify-start">
      <h1 class="text-[40px] leading-[40px] tt-norms-pro-med lg:text-[96px] lg:leading-[96px] lg:tt-norms-pro-light">{{ product.title }}</h1>
    </div>


    <div class="product-features-wrapper-content-features w-full h-auto flex items-start justify-center gap-y-2">
      <!-- assign variables -->
      {% assign productBasics = product.metafields.custom.basics_approved.value %}
      {% if productBasics %}
        {% assign basicFields = "location,year,price,make,model,series,length,fuel_type,hull_material" | split: "," %}
        <div class="features-container-list w-full h-auto lg:flex-1 lg:mt-[13px]">
          <ul class="list-features w-full h-auto flex flex-col gap-y-2 lg:flex-wrap lg:gap-x-3 lg:flex-row">
            {% for basicField in basicFields %}
              {% assign items_basics = productBasics[basicField] %}
              {% if items_basics %}
                {% for item in items_basics %}
                  <li class="list-feature body-small flex justify-between w-full h-auto items-center rounded border-[var(--secondary-neutral-color)] p-2 border lg:flex-1 lg:min-w-[calc(50%-0.75rem)] lg:max-w-[calc(50%-0.75rem)]">
                    <span class="body-16 text-[#818181] tt-norms-pro-reg">{{ basicField | replace: '_', ' ' | capitalize }}:</span>
                    <span class="body-16 tt-norms-pro-reg">{{ item }}</span>
                  </li>
                {% endfor %}
              {% else %}
                <li class="list-feature body-small flex justify-between w-full h-auto items-center rounded border-[var(--secondary-neutral-color)] p-2 border lg:flex-1 lg:min-w-[calc(50%-0.75rem)] lg:max-w-[calc(50%-0.75rem)]">
                  <span class="body-16 text-[#818181] tt-norms-pro-reg">{{ basicField | replace: '_', ' ' | capitalize }}:</span>
                  <span class="body-16 tt-norms-pro-reg">No data available</span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <div class="product-consulent-wrapper w-full h-auto flex flex-col items-center justify-center gap-y-3 bg-[#EFEEED] rounded-2xl py-6">
      <p class="body-16-medium tt-norms-pro-med">{{ section.settings.consulent_name }}</p>
      <a href="tel:{{ section.settings.consulent_phone }}">
        <p class="body-16 underline">{{ section.settings.consulent_phone }}</p>
      </a>
    </div>

    <div class="product-features-cta w-full h-auto flex flex-col items-center justify-start gap-y-3 mt-5 md:mt-0 lg:flex-row lg:gap-x-3 lg:items-center lg:justify-center lg:mt-0">
      <div class="cta-choco flex-1 lg:max-w-[220px] lg:px-4 lg:py-2">
        <p class="body-16-medium tt-norms-pro-reg">{{ section.settings.cta_details }}</p>
      </div>
      <div class="cta-transparent flex-1 lg:max-w-[220px] lg:px-4 lg:py-2">
        <p class="body-16-medium tt-norms-pro-reg">{{ section.settings.cta_preowned }}</p>
      </div>
    </div>

  </div>
</div>

{% comment %} 
  Section Schema Settings here; 
{% endcomment %}
{% schema %}
  {
    "name": "product-approved-features",
    "settings": [
      {
        "type": "text",
        "id": "consulent_name",
        "default": "Stefano Rossi",
        "label": "Consulent Name"
      }, {
        "type": "text",
        "id": "consulent_phone",
        "default": "+393489690290",
        "label": "Consulent Phone"
      }, {
        "type": "text",
        "id": "cta_details",
        "default": "See details",
        "label": "Details Cta Text"
      }, {
        "type": "text",
        "id": "cta_preowned",
        "default": "See all pre-owned",
        "label": "Pre-Owned Cta Text"
      }
    ]
  }
{% endschema %}